{% block content %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Login</h2>
  <form method="post" action="{% url 'venues:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>



<div class="center">
    <a class="white-text" href="/venues/signup">No tienes una cuenta? Regístrate</a>
</div>

<p><a href="{% url 'password_reset' %}">He olvidado mi contraseña</a></p>

{% endblock %}
