<head>
    {{ name }} 
</head>

<body>
    <div>
        {% if phone_number %}
            <p>Teléfono: {{ phone_number }}</p>
        {% endif %}
        {% if address %}
            <p>Dirección: {{ address }}</p>
        {% endif %}
        {% if website %}
            <p><a href= "{{ website }}" >Sitio del restaurante</a></p>
        {% endif %}
        {% if categories %}
            <p>Categorías: {% for element in categories %} {{ element }} {% endfor %}</p>
        {% endif %}
    </div>
    {% if schedule %}
        <div>
            HORARIO:<BR>
            <ul>
                {%for element in schedule %}
                <li>{{ element }}</li>
                {% endfor %}
            </ul>
        </div>
    {%endif%}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
 
    {% if user.is_authenticated %}
	<form id="detailCommentForm" action="{% url 'venues:postnewcomment' id %}" method="post">
    	{% csrf_token %}
		<label>Nuevo comentario</a> :
		<input type="textfield" name="text"/><BR>
		<input type="submit" value="Enviar" />
	</form>

        <form enctype="multipart/form-data" id="detailImageForm" action="{% url 'venues:postnewimage' id %}" method="post">
    	{% csrf_token %}
		<label>Nueva foto</a> :
                <input type="file" name="image"/><BR>
		<input type="textfield" name="caption"/><BR>
		<input type="submit" value="Enviar" />
	</form>
    {% else %}
	Sólo los usuarios registrados pueden dejar comentarios. Por favor, inicia sesión o regístrate.
    {% endif %}

    {% if comments %}
        <div>
            COMENTARIOS: <BR>
            <ul>
                {% for comment in comments %}
                <li>{{ comment }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %} 

    {% if images %}
        <div>
            IMÁGENES DE USUARIOS: <BR>
            <ul>
                {% for image in images %}
                <li><img src="{{ image }}"></img></li>
                {% endfor %}
            <ul>
        </div>
    {% endif %}

</body>
