<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Mobile - TourismApp</title>
  <meta name="description" content="Wireframe design of an album page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe album ">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'venues/wireframe-detail.css' %}">
  <link rel="stylesheet" href="{% static 'venues/scorecard.css' %}">
</head>

<body>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-md-7 py-4">
          <h4>About</h4>
          <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-3 offset-md-1 py-4">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-secondary">Follow on Twitter</a>
            </li>
            <li>
              <a href="#" class="text-secondary">Like on Facebook</a>
            </li>
            <li>
              <a href="#" class="text-secondary">Email me</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
      <a href="{% url 'venues:mapview' %}" class="navbar-brand d-flex align-items-center"><i class="fa d-inline fa-chevron-circle-left mr-2"></i><strong>Volver a resultados</strong> </a>
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"> <span class="navbar-toggler-icon"></span> </button>-->
    </div>
  </div>
  <BR>
  <BR>
  {% if request.user.is_authenticated %}
    <div id="open-session-div" style="margin:auto;width:90%;">
    <a href="{% url 'venues:my-account' %}"><i class="fas fa-user-circle"></i><strong> Hola, {{ request.user.username }}</strong></a><BR>
    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <strong>Cerrar sesión</strong></a>
    </div> 
  {% else %}
    <div id="closed-session-div" style="margin:auto;width:90%;"> 
    <a href="{% url 'venues:login' %}"><i class="fas fa-sign-in-alt"></i> <strong>Iniciar sesión</strong></a>
    </div>
  {% endif %}
  <div class="text-center py-5">
    <div class="container">
      <div class="row my-5 justify-content-center">
        <div class="col-md-12">
          <h1>{{ name }}</h1>
          <div id="userstars">
          <span class="heading">User Rating</span>
          </div>
          <p id="ratingtext"></p>
          <hr style="border:3px solid #f1f1f1">

<!--
<div class="row">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5" id="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div id="amount5"></div>
  </div>
  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4" id="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div id="amount4"></div>
  </div>
  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3" id="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div id="amount3"></div>
  </div>
  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2" id="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div id="amount2"></div>
  </div>
  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1" id="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div id="amount1"></div>
  </div>
</div>
-->

<BR>
          {% if phone_number %}
            <p class="lead text-muted">Teléfono: {{ phone_number }}</p>
          {% endif %}
          {% if address %}
            <p class="lead text-muted">Dirección: {{ address }}</p>
          {% endif %}
          {% if website %}
            <p class="lead text-muted"><a href= "{{ website }}" >Sitio web</a></p>
          {% endif %}
          {% if schedule %}
            <BR>
            <div class="list-group">
              {%for element in schedule %}
                  <!-- <li><p class="lead text-muted">{{ element }}</p></li> -->
                  <a class="list-group-item list-group-item-action flex-column align-items-start">
                    <p class="mb-1">{{ element }}</p>
                 </a>
              {% endfor %}
            </div>
          {% endif %}
          {% if messages %}
            <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <h3 style="margin-left:10px;">Valoraciones de los usuarios:</h3>
        <div class="col-md-12">
          {% if user.is_authenticated %}
            <form enctype="multipart/form-data" id="comment-form">
            {% csrf_token %}
              <div class="form-group">
                <label for="user-rating">Nivel de satisfacción (1-5): </label>
                <select class="custom-select d-block w-100" id="rating" name="rating" required="">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>  
                </select>
                <textarea class="form-control" id="form26" name="text" rows="3" placeholder="Your comment"></textarea>
                <input class="btn btn-primary" id="comment-form-submit" type="button" onclick="submissionHandler('comment')" value="Enviar" /> 
              </div>
              <!-- <button class="btn btn-primary" id="comment-form-submit" onclick="submissionHandler()">Enviar</button> -->
            </form>
          {% else %}
	    Sólo los usuarios registrados pueden dejar comentarios. Por favor, inicia sesión o regístrate.
            <a class="nav-link" href="{% url 'venues:login' %}">Log in</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 bg-light">
    <div class="container">
      <div class="row" id="main-comment-box">
        <!--
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="{{ comment.image }}">
            <div class="card-body">
              <p class="card-text">comentario</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" href="#" class="btn btn-sm btn-outline-secondary">Delete</button>
                </div> 
                <small class="text-muted">Date</small>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
    <ul class="pagination" id="pagination-bar" style="margin:auto;width:20%;">
   
    </ul>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <h3 style="margin-left:10px;">Imágenes de los usuarios:</h3>
        <div class="col-md-12">
          {% if user.is_authenticated %}
    <form enctype="multipart/form-data" id="image-form">
            {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" id="form26" name="caption" rows="3" placeholder="Your comment"></textarea>
                <input type="file" name="image"/>
                <BR>
                <input class="btn btn-primary" id="image-form-submit" type="button" onclick="submissionHandler('image')" value="Enviar" /> 
              </div>
              <!--<button class="btn btn-primary" id="comment-form-submit" onclick="submissionHandler()">Enviar</button> -->
            </form>
          {% else %}
	    Sólo los usuarios registrados pueden subir fotos. Por favor, inicia sesión o regístrate.
            <a class="nav-link" href="{% url 'venues:login' %}">Log in</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



    <div class="py-4 bg-light">
    <div class="container">
      <div class="row" id="main-image-box">
        <!--
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="{{ comment.image }}">
            <div class="card-body">
              <p class="card-text">comentario</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" href="#" class="btn btn-sm btn-outline-secondary">Delete</button>
                </div> 
                <small class="text-muted">Date</small>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
    <ul class="pagination" id="image-pagination-bar" style="margin:auto;width:20%;">
   
    </ul>
  </div>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>TourismApp 2019 (Universidade da Coruña).&nbsp; <br>Enrique García Rodríguez <a href="#">(enrique.garcia1@udc.es)</a> - <a href="#">(garciarodriguezenrique10@gmail.com)</a>.</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
  <script src="{% static 'venues/jquery-3.3.1.min.js' %}" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script>
      place_identifier = "{{ id }}";
      user = "{{ request.user.username }}";
      currentPage = 1;
      commentCount = 0;
      currentImgPage = 1;
      imageCount = 0;
      MAX_STARS=5;
      
      function setPaginationBar(numPages, place_id){
          var bar = document.getElementById("pagination-bar");
          bar.innerText = "";
          li = document.createElement("li");
          a = document.createElement("a");
          a.className = "page-link";
          a.href = "#"
          a.innerText = "«";
          a.addEventListener('click', function(){getComments("1",place_id);});
          li.appendChild(a);
          bar.appendChild(li);
          for (let i=currentPage; i<=currentPage+4; i++) {
              li = document.createElement("li");
              if (i==currentPage){
                  li.className = "page-item-active";
              } else {
                  li.className = "page-item";
              }

              a = document.createElement("a");
              a.className = "page-link";
              a.innerText = i;
              a.addEventListener('click', function(){
                                              getComments(i,place_id);
                                          });
              li.appendChild(a);
              bar.appendChild(li);
              if (i==numPages){break;}
          }
          li = document.createElement("li");
          a = document.createElement("a");
          a.className = "page-link";
          a.href = "#"
          a.innerText = "»";
          a.addEventListener('click', function(){getComments(String(numPages),place_id);});
          li.appendChild(a);
          bar.appendChild(li);
          
      }

      function setImgPaginationBar(numPages, place_id){
          var bar = document.getElementById("image-pagination-bar");
          bar.innerText = "";
          li = document.createElement("li");
          a = document.createElement("a");
          a.className = "page-link";
          a.href = "#"
          a.innerText = "«";
          a.addEventListener('click', function(){getImages("1",place_id);});
          li.appendChild(a);
          bar.appendChild(li);
          for (let i=currentImgPage; i<=currentImgPage+4; i++) {
              console.log(i);
              li = document.createElement("li");
              if (i==currentImgPage){
                  li.className = "page-item-active";
              } else {
                  li.className = "page-item";
              }

              a = document.createElement("a");
              a.className = "page-link";
              a.innerText = i;
              a.addEventListener('click', function(){
                                              getImages(i,place_id);
                                          });
              li.appendChild(a);
              bar.appendChild(li);
              if (i==numPages){break;}
          }
          li = document.createElement("li");
          a = document.createElement("a");
          a.className = "page-link";
          a.href = "#"
          a.innerText = "»";
          a.addEventListener('click', function(){getImages(String(numPages),place_id);});
          li.appendChild(a);
          bar.appendChild(li);
          
      }


      function setComments(data, totalComments){
          var stars = {"1":0, "2":0, "3":0, "4":0, "5":0}
          comments = document.getElementsByClassName("comment-container");
          cbox = document.getElementById("main-comment-box");
          cbox.innerText = "";

          Object.keys(data).forEach(function(comment){
              if (data[comment]['rating'] == 1){stars["1"]++;}
              else if (data[comment]['rating'] == 2){stars["2"]++;}
              else if (data[comment]['rating'] == 3){stars["3"]++;}
              else if (data[comment]['rating'] == 4){stars["4"]++;}
              else if (data[comment]['rating'] == 5){stars["5"]++;}

              var ts = new Date(data[comment]['created']);
   
              var outer_div = document.createElement("div");
              outer_div.className = "col-md-4 p-3 comment-container";
              outer_div.id = data[comment]['id'];
              
              var second_outer_div = document.createElement("div");
              second_outer_div.className = "card box-shadow";

              if (data[comment]['image']!=null){
                  var image = document.createElement("img");
                  image.className = "card-img-top";
                  image.src = data[comment]['image']
                  second_outer_div.appendChild(image);
              }

              var first_inner_div = document.createElement("div");
              first_inner_div.className = "card-body";

              var comment_text = document.createElement("p");
              comment_text.className = "card-text";
              comment_text.innerText = data[comment]['owner']+" :\n "+data[comment]['text'];
              first_inner_div.appendChild(comment_text);
              for (i=0; i<data[comment]['rating']; i++){
                  s = document.createElement("span");
                  s.className = "fa fa-star checked";
                  first_inner_div.appendChild(s);
              }
              for (i=0; i<MAX_STARS-data[comment]['rating']; i++){
                  s = document.createElement("span");
                  s.className = "fa fa-star";
                  first_inner_div.appendChild(s);
              }

              var second_inner_div = document.createElement("div");
              second_inner_div.className = "d-flex justify-content-between align-items-center";

              var innermost_div = document.createElement("div");
              innermost_div.className = "btn-group";
        
              if (data[comment]['owner']==user){
                  var delete_button = document.createElement("button");
                  delete_button.type="button";
                  delete_button.className="btn btn-sm btn-outline-secondary";
                  var comment_id = data[comment]['id'];
                  delete_button.addEventListener('click', function(){deleteComment(comment_id);});
                  delete_button.innerText="Delete";
                  innermost_div.appendChild(delete_button);
              }

              var date = document.createElement("small");
              date.innerText = ts.toLocaleDateString()+" - "+ts.toLocaleTimeString();
              date.className = "text-muted";

              second_inner_div.appendChild(innermost_div);
              second_inner_div.appendChild(date);

              first_inner_div.appendChild(second_inner_div);
              second_outer_div.appendChild(first_inner_div);
              outer_div.appendChild(second_outer_div);

              document.getElementById("main-comment-box").appendChild(outer_div);

          });
      }

      function setImages(data, totalImages){
          comments = document.getElementsByClassName("comment-container");
          cbox = document.getElementById("main-image-box");
          cbox.innerText = "";
          
          Object.keys(data).forEach(function(image){
              console.log(data[image]);
              img_src = data[image]['image'];
              owner = data[image]['owner'];
              caption = data[image]['caption'];
              full_caption = owner + ":\n" + caption;
              console.log(caption);
              ts = new Date(data[image]['created']);
              created = ts.toLocaleDateString()+" - "+ts.toLocaleTimeString();
              id = data[image]['id'];
   
              var outer_div = document.createElement("div");
              outer_div.className = "col-md-4 p-3 comment-container";
              outer_div.id = data[image]['id'];
              
              var second_outer_div = document.createElement("div");
              second_outer_div.className = "card box-shadow";

              if (img_src!=null){
                  var image = document.createElement("img");
                  image.className = "card-img-top";
                  image.src = img_src;
                  second_outer_div.appendChild(image);
              }

              var first_inner_div = document.createElement("div");
              first_inner_div.className = "card-body";

              var caption = document.createElement("p");
              caption.className = "card-text";
              
              caption.innerText = full_caption;
              first_inner_div.appendChild(caption);

              var second_inner_div = document.createElement("div");
              second_inner_div.className = "d-flex justify-content-between align-items-center";

              var innermost_div = document.createElement("div");
              innermost_div.className = "btn-group";

              if (owner==user){
                  var delete_button = document.createElement("button");
                  delete_button.type="button";
                  delete_button.className="btn btn-sm btn-outline-secondary";
                  var comment_id = id;
                  let image_id = id;
                  delete_button.addEventListener('click', function(){deleteImage(image_id);});
                  delete_button.innerText="Delete";
                  innermost_div.appendChild(delete_button);
              }

              var date = document.createElement("small");
              date.innerText = created;
              date.className = "text-muted";

              second_inner_div.appendChild(innermost_div);
              second_inner_div.appendChild(date);

              first_inner_div.appendChild(second_inner_div);
              second_outer_div.appendChild(first_inner_div);
              outer_div.appendChild(second_outer_div);

              document.getElementById("main-image-box").appendChild(outer_div);

          });
      }

      function getComments(page, place_id){
          currentPage = page;
          $.ajax({
              url : "{% url 'venues:getcomments' %}"+"?venue_id="+place_id+"&page="+page,
              dataType: "json",  
              method : "GET",
              success : function (data) {
                  currentPage = parseInt(page);
                  setComments(data['results'], data['count']);
                  getAvgRating(place_id);
                  commentCount = data['count']
                  if (commentCount>0){
                      var num_pages = Math.ceil(data['count']/10);
                      setPaginationBar(num_pages,place_id);
                  }
              },
              error : function (data){
                  console.log(data);
                  alert("Ha habido un error, inténtalo más tarde.");
              }
          });
      }

      function getImages(page, place_id){
          currentImgPage = page;
          $.ajax({
              url : "{% url 'venues:getimages' %}"+"?venue_id="+place_id+"&page="+page,
              dataType: "json",  
              method : "GET",
              success : function (data) {
                  currentImgPage = parseInt(page);
                  setImages(data['results'], data['count']);
                  imageCount = data['count'];
                  if (imageCount>0){
                      var num_pages = Math.ceil(data['count']/10);
                      setImgPaginationBar(num_pages,place_id);
                  }
              },
              error : function (data){
                  console.log(data);
                  alert("Ha habido un error, inténtalo más tarde.");
              }
          });
      }

      function getAvgRating(place_id){
          $.ajax({
              url : "{% url 'venues:getavgrating' %}"+"?venue_id="+place_id,
              dataType: "json",  
              method : "GET",
              success : function (data) {
                  console.log(data);
                  updateRatingData(data['results'][0])
              },
              error : function (data){
                  console.log(data);
                  alert("Ha habido un error, inténtalo más tarde.");
              }
          });
      }

      function updateRatingData(data){
          var star_div = document.getElementById("userstars");
          star_div.innerHTML = "";
          var rating_text = document.getElementById("ratingtext");
          rating_text.innerText = data["avg_rating"]+" average based on "+String(data['review_number'])+" reviews"

          star_rating = "";
          numeric_rating = Math.floor(parseFloat(data['avg_rating']));
          s = document.createElement("span");
          s.className = "heading";
          s.innerText = "User Rating";
          for (i=0; i<numeric_rating; i++){
            s = document.createElement("span");
            s.className = "fa fa-star checked";
            star_div.appendChild(s);
          }
          for (i=0; i<MAX_STARS-numeric_rating; i++){
            s = document.createElement("span");
            s.className = "fa fa-star";
            star_div.appendChild(s);
          }
      }

      function submissionHandler(type){ 
          if (type=='comment'){
              console.log("About to submit a new comment about "+place_identifier);
              sendComment(place_identifier);
          } else if (type == 'image') {
              console.log("About to submit a new image about "+place_identifier);
              sendImage(place_identifier);
          }
      }

      function sendComment(place_id){
          $.ajax({
              url : "{% url 'venues:newcomment' %}"+"?venue_id="+place_id,
              dataType: "json",  
              method : "POST",
              data: $("#comment-form").serialize(),
              success : function (data) {
                  console.log(data)
                  getComments(currentPage, place_identifier);
                  $('#comment-form').each(function(){
                      this.reset();
                  });
              },
              error : function (data){
                  console.log(data);
                  alert("Ha habido un error, inténtalo más tarde.");
              }
          });
      }

      function sendImage(place_id){
          formData = new FormData($("#image-form")[0])
          console.log(formData)
          $.ajax({
              url : "{% url 'venues:newimage' %}"+"?venue_id="+place_id,
              dataType: "json",
              processData: false,
              contentType: false,
              async: false,
              method : "POST",
              data: formData, 
              success : function (data) {
                  console.log(data)
                  getImages(currentImgPage, place_identifier);
                  $('#image-form').each(function(){
                      this.reset();
                  });
              },
              error : function (data){
                  console.log(data);
                  alert("Ha habido un error, inténtalo más tarde.");
              }
          });
      }

      function deleteComment(comment_id){
          $.ajax({
              url : "{% url 'venues:removecomment' %}"+"?comment_id="+comment_id,
              dataType: "json",  
              method : "GET",
              success : function (data) {
                  console.log(data)
                  if ((commentCount-1) % 10 == 0){
                      currentPage-=1;
                  }
                  getComments(currentPage, place_identifier);
              },
              error : function (data){
                  console.log(data);
                  alert("Ha habido un error, inténtalo más tarde.");
              }
          });
      }

      function deleteImage(image_id){
          $.ajax({
              url : "{% url 'venues:removeimage' %}"+"?image_id="+image_id,
              dataType: "json",  
              method : "GET",
              success : function (data) {
                  console.log(data)
                  if ((imageCount-1) % 10 == 0){
                      currentImgPage-=1;
                  }
                  getImages(currentImgPage, place_identifier);
              },
              error : function (data){
                  console.log(data);
                  alert("Ha habido un error, inténtalo más tarde.");
              }
          });
      }

      $(document).ready(function(){
          console.log("Loading 1st page of comments")
          getComments("1",place_identifier);
          getImages("1",place_identifier);
      });


  </script>
</body>

</html>
