<title>Tourism App - Search</title>

{% if request.user.is_authenticated %}
	<div class="col s6">
            Hola {{ request.user.username}} <BR>
        </div>

        <div class="col s6">
            <a href="{% url 'logout' %}">logout</a>
        </div>
{% else %}
             
        <div class="col s12">
            <div class="center">
            <a href="{% url 'login' %}">login</a>
            </div>
        </div>
{% endif %}

<form action="{% url 'venues:mapview' %}" method="post">
	{% csrf_token %}


<div class="row "> 

  <div class="input-field col s12">
    <select name="travel_mode">
          <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
      </select>
    <label>Método de transporte</label>
  </div>



  <div class="input-field col s12">
	<input id="radius" type="text" name="radius"/>
    <label for="radius" >Radio</label> 
  </div>



<div class="input-field col s12">
    <select name="category">
          <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
      </select>
    <label>Categoría</label>
  </div>



<div class="input-field col s12">
<div class="center">
   <button  class="waves-effect waves-light btn" type="submit">Buscar</button>
   </div>
</div>
  
	
</form>
