<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="{% static 'venues/backgrounds/applogo.png' %}">
  <title>TourismApp - Home</title>
  <meta name="description" content="Wireframe design of a cover page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe cover">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/index-global.css' %}">
</head>

<body class="text-center bg-dark">
  <div class="p-3 h-100 d-flex flex-column">
    <div class="container mb-auto">
      <div class="row">
        <div class="mx-auto col-md-9">
          <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
              <a class="navbar-brand" href="#"><b>TourismApp</b></a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> </button>
              <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"><b>Inicio</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><b>Contacto</b></a>
                  </li>
                  {% if request.user.is_authenticated %} 
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}"><strong>Cerrar sesión</strong></a>
                    </li> 
                    <li class="nav-item">
                    <p><a class="nav-link" href="{% url 'venues:my-account' %}"><strong>Mi cuenta</strong></a></p>
                  <li>
                 {% else %} 
                   <li class="nav-item">
                     <a class="nav-link" href="{% url 'venues:login' %}"><strong>Iniciar sesión</strong></a>
                   </li> 
                 {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="cover-heading"><b>Encuentra lo que buscas cerca de ti</b></h1>
          <p class="lead">Esta app te permite encontrar puntos de interés de una determinada categoría presentes en el área circundante. Obtén la ruta más eficiente hacia los destinos seleccionados, visualiza fotos y valoraciones de otros usuarios o aporta las tuyas.</p>
          <label for="category"><strong>Introduce una dirección</strong></label>
            <div class="" id="autoCompleteDiv">
              <input class="form-control d-block w-100"  id="pac-input" type="text" placeholder="Enter a location">
            </div>
            <a href="#!" onclick="getLocation()"><strong style="color:white;">Usar mi ubicación</strong></a>
          <form class="needs-validation" novalidate="" action="{% url 'venues:mapview' %}" method="post">
          {% csrf_token %}
            <div class="col-md-12 w-100 px-5 mb-3 mt-3"> <label for="category"><strong>¿Qué estás buscando?</strong></label> <select class="custom-select d-block w-100" id="category" name="category" required="">
                  <optgroup label="Comida">
                  <option value="restaurant">Restaurantes</option>
                  <option value="meal_takeaway">Comida para llevar</option>
                  <option value="food">Todos</option>
                  </optgroup>
                  <optgroup label="Ocio">
                  <option value="amusement_park">Parque de atracciones</option>
                  <option value="bowling_alley">Bolera</option>
                  <option value="casino">Casino</option>
                  <option value="movie_theater">Cine</option>
                  <option value="spa">Spa / Centro de belleza</option>
                  <option value="stadium">Estadio</option>
                  <option value="zoo">Zoo</option>
                  <option value="leisure">Todos</option>
                  </optgroup>
                  <optgroup label="Cultura">
                  <option value="art_gallery">Galería de arte</option>
                  <option value="library">Biblioteca</option>
                  <option value="museum">Museo</option>
                  <option value="religious_emplacements">Templos religiosos</option>
                  <option value="park">Parques</option>
                  <option value="monument">Monumentos</option>
                  <option value="culture">Todos</option>
                  </optgroup>
                  <optgroup label="Servicios">
                  <option value="lodging">Alojamiento</option>
                  <option value="car_rental">Alquiler de vehículos</option>
                  <option value="parking">Parking</option>
                  <option value="atm">Cajero</option>
                  <option value="campground">Cámping</option>
                  <option value="rv_park">Parque de caravanas</option>
                  <option value="gas_station">Gasolinera</option>
                  <option value="police">Policía</option>
                  <option value="services">Todos</option>
                  </optgroup>
                  <optgroup label="Tiendas">
                  <option value="book_store">Librería</option>
                  <option value="clothing_store">Ropa</option>
                  <option value="convenience_store">Supermercado / Hipermercado</option>
                  <option value="hardware_store">Electrónica</option>
                  <option value="shopping_mall">Centro comercial</option>
                  <option value="other_stores">Otros</option>
                  <option value="shopping">Todos</option>
                  </optgroup>
                  <optgroup label="Servicios sanitarios">
                  <option value="hospital">Hospitales y Centros Médicos</option>
                  <option value="pharmacy">Farmacias</option>
                  <option value="medical_services">Todos</option>
                  </optgroup>
                  <optgroup label="Bares y clubs">
                  <option value="bar">Bar</option>
                  <option value="night_club">Club/Pub</option>
                  <option value="bar_and_clubs">Todos</option>
                  </optgroup>
                  <optgroup label="Transporte">
                  <option value="taxi_stand">Parada de taxis</option>
                  <option value="airport">Aeropuerto</option>
                  <option value="bus_station">Estación / parada de bus</option>
                  <option value="train_station">Estación / parada de tren</option>
                  <option value="subway_station">Estación / parada de metro</option>
                  <option value="transport">Todos</option>
                  </optgroup>
                </select>
              <BR>
              <div class="invalid-feedback"> Please provide a valid state. </div>
              <div><input id="position" type="hidden" name="position" value="43.3380112,-8.407468"/></div>
              <div><input id="radius" type="hidden" name="radius" value="1500"/></div>
              <div><input id="gps" type="hidden" name="gps" value=true /></div>
              <button class="btn btn-primary btn-lg btn-block mt-3" type="submit"><strong>Buscar</strong></button>
        </div>
      </div>
    </div>
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
<script src="{% static 'venues/jquery-3.3.1.min.js' %}" async defer></script>
<script>
    var x = document.getElementById("position");

    var options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };

    function error(error) {
      switch(error.code) {
        case error.POSITION_UNAVAILABLE:
          alert("No ha sido posible obtener la información de ubicación. Por favor, inténtalo más tarde")
          break;
        case error.TIMEOUT:
          alert("Se ha excedido el tiempo de espera para obtener la información de ubicación.")
          break;
        case error.UNKNOWN_ERROR:
          alert("No ha sido posible obtener la información de ubicación. Por favor, inténtalo más tarde")
          break;
      }
    };

    function getLocation() {
        document.getElementById('gps').value = true;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setPositionValue, error, options);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function setPositionValue(position) {
        x.value = position.coords.latitude + "," + position.coords.longitude; 
        getLocationString();
    }

    function initAutoComplete(){
        var input = document.getElementById('pac-input');
        autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.setFields(
            ['address_components', 'geometry', 'icon', 'name']);

        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();

          if (!place.geometry) {
            window.alert("No details available for input: '" + place.name + "'");
            getLocation();
            return;
          }

          if (place.geometry.viewport) {
            x.value = place.geometry.location.lat()+","+place.geometry.location.lng();
            document.getElementById('gps').value=false;
          }
        });

    }

    function getLocationString(){
            document.getElementById("pac-input").value = "Obteniendo dirección..."
            $.ajax({
                url : "{% url 'venues:reverse-geocode' %}"+"?LatLng="+x.value,
                dataType: "json",  
                method : "GET",
                success : function (data) {
                    document.getElementById("pac-input").value = data['results'][0]['formatted_address'];
                },
                error : function (data){
                    alert("Ha habido un error, inténtalo más tarde.");
                }
            });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEDOKsldYBl9NQ6Ml9uYVGOW2vosygeSs&libraries=places&callback=initAutoComplete"
        async defer></script>

</html>
