<!DOCTYPE html>
<html>
{% load static %}
<head></head>

<body class="text-center bg-dark">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>TourismApp - Home</title>
  <meta name="description" content="Wireframe design of a cover page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe cover">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/wireframe-index.css' %}">
  <div class="p-3 h-100 d-flex flex-column">
    <div class="container mb-auto">
      <div class="row">
        <div class="mx-auto col-md-9">
          <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
              <a class="navbar-brand" href="#"><b>TourismApp</b></a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> </button>
              <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"><b>Home</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><b>Features</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><b>Contact</b></a>
                  </li> {% if request.user.is_authenticated %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                  </li> {% else %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'venues:login' %}">Log in</a>
                  </li> {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mb-5 pb-0">
        <div class="col-md-8 mx-auto">
          <h1 class="cover-heading mt-5"><b>Encuentra puntos de interés cercanos!</b></h1>
          <p class="lead mb-5">Esta app te permite encontrar puntos de interés de una determinada categoría ordenados por relevancia. Obtén la ruta más eficiente hasta tus destinos seleccionados, visualiza fotos y valoraciones de otros usuarios y deja los tuyos!</p>
          <label for="category">Introducir dirección</label>
            <div class="" id="autoCompleteDiv">
              <input class="form-control d-block w-100"  id="pac-input" type="text" placeholder="Enter a location">
            </div>
            <a href="#!" onclick="getLocation()">Usar mi ubicación</a>
          <form class="needs-validation" novalidate="" action="{% url 'venues:mapview' %}" method="post">
          {% csrf_token %}
            <BR>
            <div class="row ml-5 pl-5">
              <BR>
              <div class="col-md-5 mb-3 ml-5 pl-5"> <label for="category">Categoría</label> <select class="custom-select d-block w-100" id="category" name="category" required="">
                  <option value="food">Comida</option>
                  <option value="leisure">Ocio</option>
                  <option value="culture">Cultura</option>
                  <option value="services">Servicios</option>
                  <option value="shopping">Tiendas</option>
                  <option value="medical_services">Servicios sanitarios</option>
                  <option value="bar_and_clubs">Bares y clubs</option>
                  <option value="transport">Transporte</option>
                  <option value="other">Otros</option>
                </select>
                <div class="invalid-feedback"> Please select a valid category. </div>
                <div><input id="position" type="hidden" name="position"/></div>
                <div><input id="radius" type="hidden" name="radius" value="1500"/></div>
                <div><input id="gps" type="hidden" name="gps" value=true /></div>
                <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Buscar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </div>
  </div>
</body>
<script src="{% static 'venues/jquery-3.3.1.min.js' %}" async defer></script>
<script>
    var x = document.getElementById("position");

    function getLocation() {
        document.getElementById('gps').value = true;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setPositionValue);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function setPositionValue(position) {
        x.value = position.coords.latitude + "," + position.coords.longitude; 
        getLocationString();
    }

    //window.addEventListener('load', getLocation);

    function initAutoComplete(){
        var input = document.getElementById('pac-input');
        autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.setFields(
            ['address_components', 'geometry', 'icon', 'name']);

        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();

          if (!place.geometry) {
            window.alert("No details available for input: '" + place.name + "'");
            getLocation();
            return;
          }

          if (place.geometry.viewport) {
            console.log("FOUND");
            console.log(place.geometry.location);
            x.value = place.geometry.location.lat()+","+place.geometry.location.lng();
            document.getElementById('gps').value=false;
          }
        });

    }

    function getLocationString(){
            document.getElementById("pac-input").value = "Obteniendo dirección..."
            $.ajax({
                url : "{% url 'venues:reverse-geocode' %}"+"?LatLng="+x.value,
                dataType: "json",  
                method : "GET",
                success : function (data) {
                    console.log(data);
                    document.getElementById("pac-input").value = data['results'][1]['formatted_address'];
                },
                error : function (data){
                    console.log(data);
                    alert("Ha habido un error, inténtalo más tarde.");
                }
            });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEDOKsldYBl9NQ6Ml9uYVGOW2vosygeSs&libraries=places&callback=initAutoComplete"
        async defer></script>

</html>
