{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'venues/style.css' %}">

<title>Tourism App - Search</title>

{% if request.user.is_authenticated %}
	<div class="user">
            Hola {{ request.user.username}} <BR>
            <a href="{% url 'logout' %}">logout</a>
        </div>       
{% else %}
             
        <div class="user">
            <a href="{% url 'login' %}">login</a>
        </div>
{% endif %}

<form action="{% url 'venues:mapview' %}" method="post">
	{% csrf_token %}


<div class="row "> 

  <div class="input-field col s12">
    <select name="travel_mode" required>
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
      </select>
    <label>Método de transporte</label>
  </div>



  <div class="input-field col s12">
	<input id="radius" type="text" name="radius" required/>
    <label for="radius" >Radio</label> 
  </div>



<div class="input-field col s12">
    <select name="category" required>
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
      </select>
    <label>Categoría</label>
  </div>



<div class="input-field col s12">
   <div class="center">
       <button  class="waves-effect waves-light btn" type="submit">Buscar</button>
   </div>
</div>
  
	
</form>
