<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>TourismApp</title>
  <meta name="description" content="Wireframe design of an album page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe album ">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/listview-mobile.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/scorecard.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/map-sidenav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/adv-options-sidenav.css' %}"> 
  <link rel="stylesheet" type="text/css" href="{% static 'venues/directions-panel.css' %}"> 
</head>

<body id="main">
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-md-7 py-4">
          <h4>Búsqueda avanzada</h4>
          <p class="text-info">Marca las categorías para las que deseas encontrar resultados.</p>
          <a href="#"><input class="filter-checkbox" id="foodFilter" type="checkbox" onclick="evaluateFilters()" value="food">Comida</a><BR>
          <a href="#"><input class="filter-checkbox" id="leisureFilter" type="checkbox" onclick="evaluateFilters()" value="leisure">Ocio</a><BR>
          <a href="#"><input class="filter-checkbox" id="cultureFilter" type="checkbox" onclick="evaluateFilters()" value="culture">Cultura</a><BR>
          <a href="#"><input class="filter-checkbox" id="servicesFilter" type="checkbox" onclick="evaluateFilters()" value="services">Servicios</a><BR>
          <a href="#"><input class="filter-checkbox" id="shoppingFilter" type="checkbox" onclick="evaluateFilters()" value="shopping">Tiendas</a><BR>
          <a href="#"><input class="filter-checkbox" id="medicalFilter" type="checkbox" onclick="evaluateFilters()" value="medical_services">Servicios sanitarios</a><BR>
          <a href="#"><input class="filter-checkbox" id="barFilter" type="checkbox" onclick="evaluateFilters()" value="bar_and_clubs">Bares y clubs</a><BR>
          <a href="#"><input class="filter-checkbox" id="transportFilter" type="checkbox" onclick="evaluateFilters()" value="transport">Transporte</a><BR>
          <a href="#"><input class="filter-checkbox" id="otherFilter" type="checkbox" onclick="evaluateFilters()" value="other">Otros</a><BR>
        </div>
        <button id="filter-button" class="btn btn-primary btn-lg btn-block mt-3">Buscar</button>        
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center"><i class="fa d-inline fa-camera mr-2"></i><strong>Opciones Avanzadas</strong> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"> <span class="navbar-toggler-icon"></span> </button>
    </div>
  </div>
  <div class="py-4 bg-light">
    <div class="container">
      <div id="adv-options-sidenav" class="adv-options-sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeOptionsNav()">&times;</a>
        <p class="text-info">Escoge un método de transporte y el criterio de ordenación de la ruta. La ordenación manual te llevará a los lugares seleccionados en el orden en el que los hayas escogido, mientras que la ordenación automática intentará optimizar la ruta de manera que recorras la menor distancia posible.</p> 
        <ul class="list-unstyled">
          <li>
            <select class="custom-select d-block w-100" id="transport" required="">
              <option value="DRIVING">Coche</option>
              <option value="WALKING">A pie</option>
              <option value="BICYCLING">Bicicleta</option>
              <option value="transit-bus">Transporte público (bus)</option>
              <option value="transit-subway">Transporte público (metro)</option>
            </select>
          </li>
          <li>
            <select class="custom-select d-block w-100" id="route-sorting" required="">
              <option value="automatic-sorting">Ordenación automática</option> 
              <option value="manual-sorting">Ordenación manual</option> 
            </select>
          </li>  
        </ul> 
        <button id="confirm-route-button" onclick="getDistanceFromUserPositionOptimized()" class="btn btn-primary btn-lg btn-block mt-3">Confirmar</button>
      </div>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <!--<a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>-->
        <div id="directions-panel">
          <button id="next-segment" onclick="displaySegmentOptimized(false)">Siguiente destino</button>
          <button id="update" onclick="updateCurrentSegment()">Recargar ruta</button>
          <button id="page-reload" onclick="resetMap()">Volver a marcadores</button>
        </div>
        <div id="map"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-group" id="venue-list">
            <!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group</h5> <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> <small>Donec id elit non mi porta.</small>
            </a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Album template is based on Bootstrap © examples.&nbsp; <br>New to Bootstrap? <a href="#">Visit the homepage</a> or read our <a href="#">getting started guide</a>.</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <pingendo style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px"><button id="filter-button" onclick="openOptionsNav()" class="btn btn-primary btn-lg btn-block mt-3">Calcular Ruta</button><button id="filter-button" onclick="openNav()" class="btn btn-primary btn-lg btn-block mt-3">Ver resultados en mapa</button><select class="custom-select d-block w-100" id="sorting-criteria" required="">
              <option value="rating">Mayor puntuación</option>
              <option value="distance">Más cercano</option>
            </select></pingendo>
</body>
<script>
MAX_STARS = 5;
var currentlyDisplayedCategories = []

var map;
var markers = [];
var route = [];
var stops = [];
var stopsIndex = 0;
var currentSegment = {'from':"", 'to':""};
var currentPosition = undefined;
var optimizeRoute = true;

var venues_json = '{{ venues }}';
var user_location = '{{ user_location }}';
var initial_category = '{{ initial_category }}'

var j_loc = JSON.parse(user_location.replace(/&#39;/g,'"'));
var user_position = {lat: j_loc["lat"], lng: j_loc["long"]};
var j = JSON.parse(venues_json.replace(/&#39;/g,'"').replace(/&quot;/g, ''));

function showMarkers(){
    for (e in markers){
        markers[e].setVisible(true);
    }
}


function hideMarkersOutsideOfRoute(){
    for (e in markers){
        if (!Object.keys(route).includes(markers[e].getTitle())){
            markers[e].setVisible(false);
        }
    }
}

function addToRoute(name, lat, lng) {
    var checkBox = document.getElementById("check_"+name);
    if (checkBox.checked == true){
        console.log("true");
        route[name] = {"lat":lat, "lng":lng};//new google.maps.LatLng(lat, lng) //{"lat":lat, "lng":lng};
    } else {
        console.log("false");
        delete route[name];
    }
}

function resetMap() {
    stops = [];
    stopsIndex = 0;
    showMarkers();
    instruction_panel=document.getElementById("directions-panel");
    instruction_panel.style.display="none";
    //Reset directionsDisplay
    closeNav();
    directionsDisplay.setMap(null);
    //directionsDisplay = null;
    //directionsDisplay = new google.maps.DirectionsRenderer;
    //directionsDisplay.setMap(map);
}


function deg2rad(deg) {
  return deg * (Math.PI/180)
}

function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
  var R = 6371; // Radius of the earth in km
  var dLat = deg2rad(lat2-lat1);  // deg2rad 
  var dLon = deg2rad(lon2-lon1); 
  var a = 
    Math.sin(dLat/2) * Math.sin(dLat/2) +
    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
    Math.sin(dLon/2) * Math.sin(dLon/2)
    ; 
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
  var d = R * c; // Distance in km
  return d;
}

function getDistanceFromUserPositionOptimized(){

    hideMarkersOutsideOfRoute();
    openNav(); 
    closeOptionsNav();
    stopsIndex = 0;
    //Obtener aquí el valor de ordenacion o no, porque asi si el usuario lo cambia por el medio de la ruta no afecta, y pasarlo como param a display segment
    routeSorting = document.getElementById("route-sorting").value;
    if (routeSorting=="automatic-sorting"){
        optimizeRoute=true;
    } else if (routeSorting=="manual-sorting"){optimizeRoute=false;} 
    userPosition = {'lat': user_position["lat"], 'long':user_position["lng"]}
    stops.push(userPosition);
    for (venue in route){
        venuePosition = {'lat': route[venue]["lat"], 'long':route[venue]["lng"]}
        stops.push(venuePosition);
    }
    displaySegmentOptimized(true);

}

function displaySegmentOptimized(firstTime){
    var refDistance=9999.0;
    var nextPosition;
    //como stops no es un keyed array hay que llevar la cuenta con un indice, como en la actual displaySegment
    if (stops.length>1){
        if (!optimizeRoute){
            console.log("Manual :"+stopsIndex);
            displaySegmentUnsorted();
        } else {
            currentPosition = stops[stopsIndex];
            stops.splice(stopsIndex, 1);
            for (venue in stops){
                distance = getDistanceFromLatLonInKm(currentPosition['lat'],currentPosition['long'],stops[venue]['lat'],stops[venue]['long']);
                if (distance<refDistance){
                    refDistance = distance;
                    stopsIndex = venue;
                    nextPosition = stops[stopsIndex];
                }
            }
            currentSegment["from"]=new google.maps.LatLng(currentPosition['lat'],currentPosition['long']);
            currentSegment["to"]=new google.maps.LatLng(nextPosition['lat'],nextPosition['long']);
            calculateAndDisplayRoute(currentSegment["from"], currentSegment["to"]);
            currentPosition = nextPosition;
        }
    } else {
        resetMap();
    }
    
}

function displaySegmentUnsorted(){

    if (stopsIndex == stops.length-1){
        resetMap();
    } else {
        console.log("Manual :"+stopsIndex);
        currentSegment["from"]=new google.maps.LatLng(stops[stopsIndex]['lat'],stops[stopsIndex]['long']);
        currentSegment["to"]=new google.maps.LatLng(stops[++stopsIndex]['lat'],stops[stopsIndex]['long']);
        console.log("Manual :"+stopsIndex);
        calculateAndDisplayRoute(currentSegment["from"], currentSegment["to"]);
    }
    

}

function calculateAndDisplayRoute(from, to) {

    //Display options
    //directionsDisplay.setOptions( { suppressMarkers: true } );
    //directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById('directions-panel'));

    var transport;
    transport = document.getElementById("transport").value;

    if (transport == "transit-bus"){
        console.log("transit-bus: "+transport);
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: 'TRANSIT',
            transitOptions: {
                modes: ['BUS'],
                routingPreference: 'FEWER_TRANSFERS' //La hora del siguiente bus depende de departureTime, así que si queremos que la hora de salida del bus tenga cierto margen por si la parada está más o menos lejos, poner un departureTime + X tiempo.
            },
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    } else if (transport == "transit-subway"){
        console.log("transit-subway: "+transport);
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: 'TRANSIT',
            transitOptions: {
                modes: ['SUBWAY'],
                routingPreference: 'FEWER_TRANSFERS'
            },
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    } else if (transport == "DRIVING"){
        console.log("transit-driving: "+transport);
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: 'DRIVING',
            drivingOptions: {
                departureTime: new Date(Date.now()),  //new Date(Date.now() + N) siendo N el nº de milisegundos desde ahora
                trafficModel: 'bestguess'
            },
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    } else {
        console.log("transit-walking-bicylcing: "+transport);
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: transport,
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    }
}

function routeCallback(response, status) {
    if (status === 'OK') {
        console.log(response);
        //hideMarkersOutsideOfRoute();
        instruction_panel=document.getElementById("directions-panel");
        instruction_panel.style.display="block";
        directionsDisplay.setMap(map);
        directionsDisplay.setDirections(response);
    } else {
        window.alert('Directions request failed due to ' + status);
    }
}


function updateCurrentSegment(){
    calculateAndDisplayRoute(currentSegment["from"], currentSegment["to"]);
}

function evaluateFilters(){
    var checkboxes = document.getElementsByClassName("filter-checkbox");
    for (i=0; i<checkboxes.length; i++){
        if(checkboxes[i].checked == true && !currentlyDisplayedCategories.includes(checkboxes[i].value)){
            currentlyDisplayedCategories.push(checkboxes[i].value);
        }
        if (checkboxes[i].checked == false && currentlyDisplayedCategories.includes(checkboxes[i].value)){
            currentlyDisplayedCategories = currentlyDisplayedCategories.filter(e=>e!=checkboxes[i].value);
        }
    }
}


function removeDuplicatesByName(jsonArray){
    var seenNames = {};
    jsonArray = jsonArray.filter(function(currentObject) {
        if (currentObject.venue_name in seenNames) {
            return false;
        } else {
            seenNames[currentObject.venue_name] = true;
            return true;
        }
    });
    return jsonArray;
}

function fillList(venue_list, sorting_criteria){

    var sorted = {};
    if (sorting_criteria=="distance"){
        sorted = venue_list.sort(function(a, b) {return a.dist_from_user - b.dist_from_user}); //Ordena los lugares de mayor a menor valoración.
    } else {
        sorted = venue_list.sort(function(a, b) {return b.rating - a.rating}); //Ordena los lugares de mayor a menor valoración.
    }
    sorted = removeDuplicatesByName(sorted);
    var venue_list = document.getElementById("venue-list");
    Object.keys(sorted).forEach(function(venue) {

        var a = document.createElement("a");
        a.href = "#";
        a.className = "list-group-item list-group-item-action flex-column align-items-start";

        var div = document.createElement("div");
        div.className = "d-flex w-100 justify-content-between";

        var icon = document.createElement("img");
        icon.src = sorted[venue]["icon"];
        icon.style.height = "25%"

        var h5 = document.createElement("h5");
        h5.className = "mb-1";
        h5.innerText = sorted[venue]['venue_name']+"  ";

        var small_dist = document.createElement("small");
        small_dist.innerText = "A "+sorted[venue]['dist_from_user'].toFixed(2)+" km\n";
        
        div.appendChild(h5);
        div.appendChild(small_dist);

        var p = document.createElement("p");
        //p.className = "mb-1";

        for (i=0; i<sorted[venue]['rating']; i++){
            s = document.createElement("span");
            s.className = "fa fa-star checked";
            p.appendChild(s);
            //star_rating += '<span class="fa fa-star checked"></span>'
        }
        for (i=0; i<MAX_STARS-sorted[venue]['rating']; i++){
            s = document.createElement("span");
            s.className = "fa fa-star";
            p.appendChild(s);
            //star_rating += '<span class="fa fa-star"></span>'
        }
        var icon = document.createElement("img");
        icon.src = sorted[venue]["icon"];
        icon.style.height = "10%";

        var small_addToRoute = document.createElement("small");
        var checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.className = "route_checkbox";
        checkbox.id = "check_"+sorted[venue]['venue_name'];
        //checkbox.onclick = "addToRoute("+sorted[venue]['venue_name']+","+sorted[venue]["lat"]+","+sorted[venue]["lng"]+")";
        //checkbox.addEventListener('click', addToRoute(sorted[venue]['venue_name'],sorted[venue]['lat'],sorted[venue]["lng"]));

        small_addToRoute.innerText = "Añadir a ruta ";
        small_addToRoute.append(checkbox);

        var small = document.createElement("small");
        var a_detail = document.createElement("a");
        a_detail.href = sorted[venue]['reference']+"/";
        a_detail.innerText = "Más detalles\n";
        small.appendChild(a_detail);
        
        a.appendChild(div);
        a.appendChild(p);
        a.appendChild(small);
        a.appendChild(small_addToRoute)
        venue_list.appendChild(a);
        checkbox.addEventListener('click', function(){addToRoute(sorted[venue]['venue_name'],sorted[venue]['lat'],sorted[venue]["lng"]);});
    });
}

function formatCategories(category_list){
    var finalString = "";
    for (category in category_list){
        finalString += category_list[category]+"|";
    }
    return finalString.substring(0, finalString.length - 1);
}

function filterResults(){
    
    if (currentlyDisplayedCategories.length > 0){
        $.ajax({
            url : "{% url 'venues:filter' %}"+"?category="+formatCategories(currentlyDisplayedCategories),  
            method : "GET",
            //dataType: "json",
            success : function (data) {
                console.log(data)
                //var jqueryJson = $.parseJSON(data)
                document.getElementById("venue-list").innerText = "";
                var sorting_criteria = document.getElementById("sorting-criteria").value;
                j = data;
                fillList(data, sorting_criteria);
            },
            error : function (data){
                console.log(data);
                alert("Ha habido un error, inténtalo más tarde.");
            }
        });
    } else {alert("Selecciona una categoría, por favor");}  
}

function initMap() {
  distanceMatrixService = new google.maps.DistanceMatrixService(); 
  directionsService = new google.maps.DirectionsService;
  directionsDisplay = new google.maps.DirectionsRenderer;

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: j_loc["lat"], lng: j_loc["long"]},
    zoom: 15
  });

  //directionsDisplay.setMap(map);

  var user_icon = { 
    url: 'https://static.thenounproject.com/png/67172-200.png',
    scaledSize: new google.maps.Size(50, 50)
  };  

  var user_marker = new google.maps.Marker({
    position: new google.maps.LatLng(j_loc["lat"], j_loc["long"]),
    map: map,
    title: 'Usted está aquí',
    icon: user_icon
  });

  placeMarkers(j);
}

function openOptionsNav() {
  document.getElementById("adv-options-sidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeOptionsNav() {
  document.getElementById("adv-options-sidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}

function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
  //initMap();
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

function placeMarkers(venue_list){
  var sorted = venue_list.sort(function(a, b) {return b.rating - a.rating}); //Ordena los lugares de mayor a menor valoración.
  sorted = removeDuplicatesByName(sorted);
  Object.keys(sorted).forEach(function(venue) {
    //Marker placement------------------------------------------
    contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading">'+sorted[venue]['venue_name']+'</h1>'+
      '<div id="bodyContent">'+
      '<p><b>'+sorted[venue]['venue_name']+'</b></p>'+
      '<p>Attribution: '+sorted[venue]['venue_name']+', <a href="https://www.google.es/#q='+sorted[venue]['venue_name']+'">'+
      'Más información</a><BR>'+
      '<button onclick="calculateAndDisplayRoute('+ sorted[venue]["lat"] +','+ sorted[venue]["lng"] +')">Ir!</button>'+
      '</p>'+
      '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });


    var marker_icon = { 
      url: sorted[venue]['icon'],
      scaledSize: new google.maps.Size(25, 25)
    }; 

    var marker = new google.maps.Marker({
      position : new google.maps.LatLng(sorted[venue]["lat"], sorted[venue]["lng"]),
      map : map,
      //icon : marker_icon,
      //animation: google.maps.Animation.DROP,
      infoWindow: infowindow,
      title: sorted[venue]['venue_name']
    });

             
    google.maps.event.addListener(marker, 'click', function() {
      if (typeof open_marker !== 'undefined'){
        open_marker.infoWindow.close();
      }
      map.setCenter(this.position);
      this.infoWindow.open(map, this);
      open_marker = this;
    });

    markers.push(marker);

  });
}

$(document).ready(function(){
    var sc = document.getElementById("sorting-criteria");
    sc.addEventListener('change', function (){
        document.getElementById("venue-list").innerText = "";
        fillList(j, document.getElementById("sorting-criteria").value);
    });
    fillList(j, sc.value);
    document.getElementById('filter-button').addEventListener('click', filterResults);
    /*checkboxes = document.getElementsByClassName("route_checkbox");
    for (i=0; i<checkboxes.length; i++){
        checkboxes[i].addEventListener('click',addToRoute(name,lat,long))   
    }*/
    var checkboxes = document.getElementsByClassName("filter-checkbox");
    for (i=0; i<checkboxes.length; i++){
        if(checkboxes[i].value == initial_category){
            checkboxes[i].checked = true;
            currentlyDisplayedCategories.push(checkboxes[i].value);
            break;
        }
    } 
});

</script>
<script src="{% static 'venues/jquery-3.3.1.min.js' %}" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEDOKsldYBl9NQ6Ml9uYVGOW2vosygeSs&callback=initMap" async defer></script>

</html>
