<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="{% static 'venues/backgrounds/applogo.png' %}">
  <title>TourismApp - Mobile</title>
  <meta name="description" content="Wireframe design of an album page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe album ">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/listview-mobile.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/scorecard.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/map-sidenav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/adv-options-sidenav.css' %}"> 
  <!--<link rel="stylesheet" type="text/css" href="{% static 'venues/directions-panel-mobile.css' %}">-->
</head>
<style>
#directions-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  background-color: #D3D3D3;
}

#directions-panel select, #directions-panel input {
  font-size: 15px;
}

#directions-panel i {
  font-size: 12px;
}

#directions-panel a {
  font-size: 15px;
}
</style>

<body id="main">
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-md-7 py-4">
          <h4>Búsqueda avanzada</h4>
          <p style="color:white;">Marca las categorías para las que deseas encontrar resultados.</p>
          <a href="#" data-toggle="collapse" data-target="#food_categories" style="color:white;font-size:15px;"><strong>Comida</strong></a><BR>
          <div id="food_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="restaurantFilter" type="checkbox" onclick="evaluateFilters()" value="restaurant food">  <strong>Restaurante</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="takeawayFilter" type="checkbox" onclick="evaluateFilters()" value="meal_takeaway food">  <strong>Comida para llevar</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#leisure_categories" style="color:white;font-size:15px;"><strong>Ocio</strong></a><BR>
          <div id="leisure_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="amusement_parkFilter" type="checkbox" onclick="evaluateFilters()" value="amusement_park leisure">  <strong>Parque de atracciones</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="bowling_alleyFilter" type="checkbox" onclick="evaluateFilters()" value="bowling_alley leisure">  <strong>Bolera</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="casinoFilter" type="checkbox" onclick="evaluateFilters()" value="casino leisure">  <strong>Casino</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="movie_theaterFilter" type="checkbox" onclick="evaluateFilters()" value="movie_theater leisure">  <strong>Cine</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="spaFilter" type="checkbox" onclick="evaluateFilters()" value="spa leisure">  <strong>Spa / Centros de belleza</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="stadiumFilter" type="checkbox" onclick="evaluateFilters()" value="stadium leisure">  <strong>Estadio</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="zooFilter" type="checkbox" onclick="evaluateFilters()" value="zoo leisure">  <strong>Zoo</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#culture_categories" style="color:white;font-size:15px;"><strong>Cultura</strong></a><BR>
          <div id="culture_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="art-galleryFilter" type="checkbox" onclick="evaluateFilters()" value="art_gallery culture">  <strong>Galería de arte</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="libraryFilter" type="checkbox" onclick="evaluateFilters()" value="library culture">  <strong>Biblioteca</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="museumFilter" type="checkbox" onclick="evaluateFilters()" value="museum culture">  <strong>Museo</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="religious_emplacementsFilter" type="checkbox" onclick="evaluateFilters()" value="religious_emplacements culture">  <strong>Templos religiosos</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="public_emplacementsFilter" type="checkbox" onclick="evaluateFilters()" value="park culture">  <strong>Parques</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="monumentFilter" type="checkbox" onclick="evaluateFilters()" value="monument culture"><strong style="font-size:16px;">  Monumentos</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#services_categories" style="color:white;font-size:15px;"><strong>Servicios</strong></a><BR>
          <div id="services_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="campgroundFilter" type="checkbox" onclick="evaluateFilters()" value="campground services">  <strong>Camping</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="car-rentalFilter" type="checkbox" onclick="evaluateFilters()" value="car_rental services">  <strong>Alquiler de coches</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="atmFilter" type="checkbox" onclick="evaluateFilters()" value="atm services">  <strong>Cajero</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="parkingFilter" type="checkbox" onclick="evaluateFilters()" value="parking services">  <strong>Parking</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="gas-stationFilter" type="checkbox" onclick="evaluateFilters()" value="gas_station services">  <strong>Gasolinera</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="policeFilter" type="checkbox" onclick="evaluateFilters()" value="police services">  <strong>Policía</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="lodgingFilter" type="checkbox" onclick="evaluateFilters()" value="lodging services"><strong style="font-size:16px;">  Alojamiento</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#shopping_categories" style="color:white;font-size:15px;"><strong>Tiendas</strong></a><BR>
          <div id="shopping_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="book_storeFilter" type="checkbox" onclick="evaluateFilters()" value="book_store shopping">  <strong>Librería</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="clothing_storeFilter" type="checkbox" onclick="evaluateFilters()" value="clothing_store shopping">  <strong>Tiendas de ropa</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="convenience_storeFilter" type="checkbox" onclick="evaluateFilters()" value="convenience_store shopping">  <strong>Supermercados/Hipermercados</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="hardware_storeFilter" type="checkbox" onclick="evaluateFilters()" value="hardware_store shopping">  <strong>Tienda de electrónica</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="shopping_mallFilter" type="checkbox" onclick="evaluateFilters()" value="shopping_mall shopping">  <strong>Centro comercial</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="other_storesFilter" type="checkbox" onclick="evaluateFilters()" value="other_stores shopping">  <strong>Otras tiendas</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#medical_services_categories" style="color:white;font-size:15px;"><strong>Servicios sanitarios</strong></a><BR>
          <div id="medical_services_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="hospitalFilter" type="checkbox" onclick="evaluateFilters()" value="hospital medical_services">  <strong>Hospital/Centro médico</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="pharmacyFilter" type="checkbox" onclick="evaluateFilters()" value="pharmacy medical_services">  <strong>Farmacia</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#bar_and_clubs_categories" style="color:white;font-size:15px;"><strong>Bares y clubs</strong></a><BR>
          <div id="bar_and_clubs_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="barFilter" type="checkbox" onclick="evaluateFilters()" value="bar bar_and_clubs">  <strong>Bar</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="night_clubFilter" type="checkbox" onclick="evaluateFilters()" value="night_club bar_and_clubs">  <strong>Clubs</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#transport_categories" style="color:white;font-size:15px;"><strong>Transporte</strong></a><BR>
          <div id="transport_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="airportFilter" type="checkbox" onclick="evaluateFilters()" value="airport transport">  <strong>Aeropuerto</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="bus_stationFilter" type="checkbox" onclick="evaluateFilters()" value="bus_station transport">  <strong>Estación / Parada de bus</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="train_stationFilter" type="checkbox" onclick="evaluateFilters()" value="train_station transport">  <strong>Estación / Parada de tren</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="subway_stationFilter" type="checkbox" onclick="evaluateFilters()" value="subway_station transport">  <strong>Estación / Parada de metro</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="taxi_standFilter" type="checkbox" onclick="evaluateFilters()" value="taxi_stand transport">  <strong>Parada de taxis</strong></a><BR>
          </div>
        </div>
        <button id="filter-button" class="btn btn-primary btn-lg btn-block mt-3" style="width:30%;margin:auto;">Buscar</button>        
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
       <a href="{% url 'venues:index' %}" class="navbar-brand d-flex align-items-center"><i class="fa d-inline fa-home mr-2"></i><strong>Inicio</strong></a>
      <a href="#" data-toggle="collapse" data-target="#navbarHeader" class="navbar-brand d-flex align-items-center"><i class="fa d-inline fa-filter mr-2"></i><strong>Búsqueda Avanzada</strong> </a>
    </div>
  </div>
  <div class="py-4 bg-light">
    <div class="container">
      <div id="adv-options-sidenav" class="adv-options-sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeOptionsNav()"><strong>&times;</strong></a>
        <p style="color:white;margin-left:10px;"><strong>Escoge un método de transporte y el criterio de ordenación de la ruta.</strong></p> 
        <BR>
        <p style="color:white;margin-left:10px;"><strong>La ordenación manual te llevará a los lugares seleccionados en el orden en el que los hayas escogido, mientras que la ordenación automática intentará optimizar la ruta de manera que recorras la menor distancia posible.</strong></p> 
        <ul class="list-unstyled">
          <li>
            <p style="color:white;margin:auto;margin-left:20%;"><strong>Medio de transporte:</strong></p>
            <select class="custom-select d-block w-100" id="transport" required="">
              <option value="DRIVING">Coche</option>
              <option value="WALKING">A pie</option>
              <option value="BICYCLING">Bicicleta</option>
              <option value="transit-bus">Transporte público (bus)</option>
              <option value="transit-subway">Transporte público (metro)</option>
            </select>
          </li>
          <li>
            <BR>
            <p style="color:white;margin:auto;margin-left:20%;"><strong>Método de ordenación:</strong></p>
            <select class="custom-select d-block w-100" id="route-sorting" style="width:50%;" required="">
              <option value="automatic-sorting">Ordenación automática</option> 
              <option value="manual-sorting">Ordenación manual</option> 
            </select>
          </li>  
        </ul> 
        <button id="confirm-route-button" onclick="startRoute()" class="btn btn-primary btn-lg btn-block mt-3"><strong>Confirmar</strong></button>
      </div>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="resetMap()"><strong>&times;</strong></a>
        <div id="map"></div>
        <div id="directions-panel">
          <button id="update" style="margin:auto;margin-left:37%;"onclick="updateCurrentSegment()">Recargar ruta</button>
        </div>
      </div>
      {% if request.user.is_authenticated %}
        <a href="{% url 'venues:my-account' %}"><i class="fas fa-user-circle"></i><strong> Hola, {{ request.user.username }}</strong></a><BR><BR>
        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <strong>Cerrar sesión</strong></a> 
      {% else %} 
        <a href="{% url 'venues:login' %}"><i class="fas fa-sign-in-alt"></i> <strong>Iniciar sesión</strong></a>
      {% endif %}
      <BR>
      <BR>
      <b style="color:gray;">Ordenar resultados por:</b>
      <select class="custom-select d-block w-50" id="sorting-criteria" required="">
          <option value="rating">Puntuación</option>
          <option value="distance">Más cercano</option>
      </select>
      <BR>
      <b style="color:gray;">Buscar en resultados:</b>
      <input class="form-control d-block w-50"  id="poi-search" type="text" placeholder="Introduce un nombre" onkeyup="resultSearch()">
      <BR>
      <div class="row">
        <div class="col-md-12">
          <div class="list-group" id="venue-list">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-right">
        <a href="#"><b>Volver a la parte superior</b></a>
      </p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <pingendo style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px"><button id="filter-button" onclick="openOptionsNav()" class="btn btn-primary btn-lg btn-block mt-3"><strong>Calcular Ruta</strong></button></pingendo>
</body>
<script>
MAX_STARS = 5;
var currentlyDisplayedCategories = []

var onRoute = false;
var nextDestination = {};
var map;
var markers = [];
var route = [];
var currentSegment = {'from':"", 'to':""};
var optimizeRoute = true;

var venues_json = '{{ venues }}';
var user_location = '{{ user_location }}';
var initial_category = '{{ initial_category }}'

var j_loc = JSON.parse(user_location.replace(/&#39;/g,'"'));
var user_position = {lat: j_loc["lat"], lng: j_loc["long"]};
var j = JSON.parse(venues_json.replace(/&#39;/g,'"').replace(/&quot;/g, ''));

function resultSearch(){
    var sorting_criteria = document.getElementById("sorting-criteria").value;
    input = document.getElementById("poi-search");
    if (input==""){
        document.getElementById("venue-list").innerText = "";
        fillList(j, sorting-criteria);
    } else {
        poi_search = j.filter(function(element){
            return element.venue_name.toUpperCase().includes(input.value.toUpperCase());
        });
        document.getElementById("venue-list").innerText = "";
        fillList(poi_search, sorting_criteria)
    }
}

function resetMap() {
    closeNav();
    showMarkers();
    nextDestination = {};
    instruction_panel=document.getElementById("directions-panel");
    instruction_panel.style.display="none";
    directionsDisplay.setMap(null);
    onRoute = false;
}

function getNext(){

    next = {};
    e = Object.keys(route)[0];
    next['lat'] = route[e]['lat'];
    next['long'] = route[e]['lng'];
    delete route[e];
    if (document.getElementById("check_"+e) != null && document.getElementById("check_"+e).checked == true){
        document.getElementById("check_"+e).checked = false;
    }
    return next;

}

function getClosest(start){
    var refDistance = 9999.0
    next = {};
    for (venue in route){
        distance = getDistanceFromLatLonInKm(start['lat'],start['lng'],route[venue]['lat'],route[venue]['lng']);
        if (distance<refDistance){
            refDistance = distance;
            next['name'] = venue;
            next['lat'] = route[venue]['lat'];
            next['lng'] = route[venue]['lng'];
        }
    }
    delete route[next['name']];
    if(document.getElementById("check_"+next['name']) != null && document.getElementById("check_"+next['name']).checked == true){
        document.getElementById("check_"+next['name']).checked = false;
    }
    return next;
}

function startRoute(){

    if (Object.keys(route).length>0){
        hideMarkersOutsideOfRoute();
        openNav(); 
        closeOptionsNav();
        routeSorting = document.getElementById("route-sorting").value;
        if (routeSorting=="automatic-sorting"){
            nextDestination = getClosest(user_position);
        } else if (routeSorting=="manual-sorting"){
            nextDestination = getNext();
        } 
        var from = new google.maps.LatLng(user_position['lat'],user_position['lng']);
        var to = new google.maps.LatLng(nextDestination['lat'],nextDestination['lng']);
        currentSegment["from"]=from;
        currentSegment["to"]=to;
        calculateAndDisplayRoute(from, to);
        onRoute = true;
    } else {alert("Selecciona por lo menos un punto de interés para ver la ruta");}

}

function calculateAndDisplayRoute(from, to) {

    directionsDisplay.setPanel(document.getElementById('directions-panel'));

    var transport;
    transport = document.getElementById("transport").value;

    if (transport == "transit-bus"){
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: 'TRANSIT',
            transitOptions: {
                modes: ['BUS'],
                routingPreference: 'FEWER_TRANSFERS'
            },
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    } else if (transport == "transit-subway"){
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: 'TRANSIT',
            transitOptions: {
                modes: ['SUBWAY'],
                routingPreference: 'FEWER_TRANSFERS'
            },
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    } else if (transport == "DRIVING"){
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: 'DRIVING',
            drivingOptions: {
                departureTime: new Date(Date.now()),  
                trafficModel: 'bestguess'
            },
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    } else {
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: transport,
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    }
}

function routeCallback(response, status) {
    if (status === 'OK') {
        instruction_panel=document.getElementById("directions-panel");
        instruction_panel.style.display="block";
        directionsDisplay.setMap(map);
        directionsDisplay.setDirections(response);
    } else {
        window.alert('Directions request failed due to ' + status);
    }
}


function updateCurrentSegment(){
    calculateAndDisplayRoute(currentSegment["from"], currentSegment["to"]);
}

function evaluateFilters(){
    var checkboxes = document.getElementsByClassName("filter-checkbox");
    for (i=0; i<checkboxes.length; i++){
        if(checkboxes[i].checked == true && !currentlyDisplayedCategories.includes(checkboxes[i].value)){
            currentlyDisplayedCategories.push(checkboxes[i].value);
        }
        if (checkboxes[i].checked == false && currentlyDisplayedCategories.includes(checkboxes[i].value)){
            currentlyDisplayedCategories = currentlyDisplayedCategories.filter(e=>e!=checkboxes[i].value);
        }
    }
}

function fillList(venue_list, sorting_criteria){

    var sorted = {};
    if (sorting_criteria=="distance"){
        sorted = venue_list.sort(function(a, b) {return a.dist_from_user - b.dist_from_user}); 
    } else {
        sorted = venue_list.sort(function(a, b) {return b.rating - a.rating}); 
    }
    sorted = removeDuplicatesByName(sorted);
    var venue_list = document.getElementById("venue-list");
    Object.keys(sorted).forEach(function(venue) {

        var a = document.createElement("a");
        a.href = "#";
        a.className = "list-group-item list-group-item-action flex-column align-items-start";

        var div = document.createElement("div");
        div.className = "d-flex w-100 justify-content-between";

        var icon = document.createElement("i");
        icon.className = getClassName(sorted[venue]['category']);

        var h5 = document.createElement("h5");
        h5.className = "mb-1";
        h5.innerHTML = "<b>"+sorted[venue]['venue_name']+"  </b>";
        h5.appendChild(icon);

        var h9 = document.createElement("p");
        h9.className;
        h9.innerHTML = "<b style='color:gray;'>"+sorted[venue]['formatted_address']+"</b><BR>";

        var small_dist = document.createElement("small");
        small_dist.id = "distance-"+sorted[venue]['venue_name'];
        small_dist.innerText = "A "+sorted[venue]['dist_from_user'].toFixed(2)+" km\n";
        
        div.appendChild(h5);
        div.appendChild(small_dist);

        var p = document.createElement("p");
        p.appendChild(h9);

        for (i=1; i<=sorted[venue]['rating']; i++){
            s = document.createElement("span");
            s.className = "fa fa-star checked";
            p.appendChild(s);
        }
        for (i=0; i<MAX_STARS-sorted[venue]['rating']; i++){
            s = document.createElement("span");
            s.className = "fa fa-star";
            p.appendChild(s);
        }
        var icon = document.createElement("img");
        icon.src = sorted[venue]["icon"];
        icon.style.height = "10%";

        var small_addToRoute = document.createElement("p");
        var checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.className = "route_checkbox";
        checkbox.id = "check_"+sorted[venue]['venue_name'];

        small_addToRoute.innerHTML = "<b style='color:gray;'>Añadir a ruta </b>";
        small_addToRoute.append(checkbox);

        var small = document.createElement("div");
        var p_category = document.createElement("p");
        p_category.innerHTML = "<b style='color:gray;'>Categoría/s: "+getCategorySpanish(sorted[venue]['category'])+"</b>";
        small.appendChild(p_category);
        var a_detail = document.createElement("a");
        a_detail.href = sorted[venue]['reference']+"/";
        a_detail.innerHTML = "<b style='color:gray;'>Más detalles</b><BR>";
        a_detail.style.color = "black"
        small.appendChild(a_detail);
        
        a.appendChild(div);
        a.appendChild(p);
        a.appendChild(small);
        a.appendChild(small_addToRoute)
        venue_list.appendChild(a);
        checkbox.addEventListener('click', function(){addToRoute(sorted[venue]['venue_name'],sorted[venue]['lat'],sorted[venue]["lng"]);});
    });
}

function filterResults(){
    
    if (currentlyDisplayedCategories.length > 0){
        document.getElementById("venue-list").innerText = "Cargando nuevos resultados...";
        $.ajax({
            url : "{% url 'venues:filter' %}"+"?category="+formatCategories(currentlyDisplayedCategories)+"&user_position="+user_position["lat"]+","+user_position["lng"],  
            method : "GET",
            success : function (data) {
                document.getElementById("venue-list").innerText = "";
                var sorting_criteria = document.getElementById("sorting-criteria").value;
                j = data;
                fillList(data, sorting_criteria);
            },
            error : function (data){
                if (data.status == 404){
                    alert("No se han encontrado resultados para la/s categoría/s solicitadas")
                    document.getElementById("venue-list").innerText = "No se han encontrado resultados para la/s categoría/s solicitadas";
                } else {
                    alert("Ha habido un error, inténtalo más tarde.");
                    document.getElementById("venue-list").innerText = "Ha habido un error, inténtalo más tarde.";
                }
            }
        });
    } else {alert("Selecciona una categoría, por favor");}  
}

function initMap() {
  distanceMatrixService = new google.maps.DistanceMatrixService(); 
  directionsService = new google.maps.DirectionsService;
  directionsDisplay = new google.maps.DirectionsRenderer;

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: j_loc["lat"], lng: j_loc["long"]},
    zoom: 15
  });

  placeMarkers(j);
  trackUser();
}

function openOptionsNav() {
  document.getElementById("adv-options-sidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeOptionsNav() {
  document.getElementById("adv-options-sidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}

function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

function placeMarkers(venue_list){
  var sorted = venue_list.sort(function(a, b) {return b.rating - a.rating}); 
  sorted = removeDuplicatesByName(sorted);
  Object.keys(sorted).forEach(function(venue) {
    contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h4 id="firstHeading" class="firstHeading">'+sorted[venue]['venue_name']+'</h4>'+
      '<div id="bodyContent">'+
      '<p><b>'+sorted[venue]['formatted_address']+'</b></p>'+
      '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });


    var marker_icon = { 
      url: sorted[venue]['icon'],
      scaledSize: new google.maps.Size(25, 25)
    }; 

    var marker = new google.maps.Marker({
      position : new google.maps.LatLng(sorted[venue]["lat"], sorted[venue]["lng"]),
      map : map,
      infoWindow: infowindow,
      title: sorted[venue]['venue_name']
    });

             
    google.maps.event.addListener(marker, 'click', function() {
      if (typeof open_marker !== 'undefined'){
        open_marker.infoWindow.close();
      }
      map.setCenter(this.position);
      this.infoWindow.open(map, this);
      open_marker = this;
    });

    markers.push(marker);

  });
}

function updateDistanceFromUser(){

    Object.keys(j).forEach(function(venue){
        d = getDistanceFromLatLonInKm(user_position["lat"],user_position["lng"],j[venue]["lat"],j[venue]["lng"]);
        document.getElementById("distance-"+j[venue]['venue_name']).innerText = "A "+d.toFixed(2)+" km\n";
        j[venue]['dist_from_user']=getDistanceFromLatLonInKm(user_position["lat"],user_position["lng"],j[venue]["lat"],j[venue]["lng"]);
    });

}

function showTrackingPosition(position) {
    
    this.currentLat = position.coords.latitude;
    this.currentLong = position.coords.longitude;
    user_position["lat"] = position.coords.latitude;
    user_position["lng"] = position.coords.longitude;
    updateDistanceFromUser();

    if (onRoute){
        if (getDistanceFromLatLonInKm(user_position["lat"],user_position["lng"],nextDestination["lat"],nextDestination["lng"]) <= 0.25){
            if (Object.keys(route).length>0){
                nextDestination = getClosest(user_position);
                var from = new google.maps.LatLng(user_position['lat'],user_position['lng']);
                var to = new google.maps.LatLng(nextDestination['lat'],nextDestination['lng']);
                currentSegment["from"]=from;
                currentSegment["to"]=to;
                calculateAndDisplayRoute(from, to);
            } else {
                alert("Ha llegado a su destino");
            }
        }
    }

    let location = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    this.map.panTo(location);

    var user_icon = { 
      url: 'https://static.thenounproject.com/png/67172-200.png',
      scaledSize: new google.maps.Size(50, 50)
    };  

    if (!this.marker) {
      this.marker = new google.maps.Marker({
        position: location,
        map: this.map,
        title: 'Got you!',
        icon: user_icon
      });
    }
    else {
      this.marker.setPosition(location);
    }
}

function trackUser(){
    if (navigator.geolocation) {
      this.isTracking = true;
      navigator.geolocation.watchPosition((position) => {
        this.showTrackingPosition(position);
      });
    } else {
      alert("Geolocation is not supported by this browser.");
    }
}

$(document).ready(function(){
    var sc = document.getElementById("sorting-criteria");
    sc.addEventListener('change', function (){
        document.getElementById("venue-list").innerText = "";
        fillList(j, document.getElementById("sorting-criteria").value);
    });
    fillList(j, sc.value);
    document.getElementById('filter-button').addEventListener('click', filterResults);
    var checkboxes = document.getElementsByClassName("filter-checkbox");
    catList = initial_category.split(",");
    for (i=0; i<checkboxes.length; i++){
        if(checkboxes[i].value.split(" ").some(r=> catList.indexOf(r) >= 0)){
            checkboxes[i].checked = true;
            currentlyDisplayedCategories.push(checkboxes[i].value);
        }
    } 
});

</script>
<script src="{% static 'venues/jquery-3.3.1.min.js' %}" async defer></script>
<script src="{% static 'venues/common.js' %}" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEDOKsldYBl9NQ6Ml9uYVGOW2vosygeSs&callback=initMap" async defer></script>

</html>
