<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>TourismApp</title>
  <meta name="description" content="Wireframe design of an album page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe album ">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/listview-mobile.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/scorecard.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/map-sidenav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/adv-options-sidenav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'venues/directions-panel-desktop.css' %}"> 
  
</head>
<style>

#logout-link:hover{
  color: white;
}

#login-link:hover{
  color: white;
}

.sidenav{
    width: 0;
}

.sidenav a{
    font-size:17px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

</style>

<body id="main">
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-md-7 py-4">
          <h4>Búsqueda avanzada</h4>
          <p style="color:white;">Marca las categorías para las que deseas encontrar resultados.</p>
          <a href="#" data-toggle="collapse" data-target="#food_categories" style="color:white;font-size:15px;"><!--<input class="filter-checkbox" id="foodFilter" type="checkbox" onclick="evaluateFilters()" value="food">--><strong>Comida</strong></a><BR>
          <div id="food_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="restaurantFilter" type="checkbox" onclick="evaluateFilters()" value="restaurant food">  <strong>  Restaurante</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="takeawayFilter" type="checkbox" onclick="evaluateFilters()" value="meal_takeaway food">  <strong>  Para llevar</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#leisure_categories" style="color:white;font-size:15px;"><!--<input class="filter-checkbox" id="leisureFilter" type="checkbox" onclick="evaluateFilters()" value="leisure">--><strong>Ocio</strong></a><BR>
          <div id="leisure_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="amusement_parkFilter" type="checkbox" onclick="evaluateFilters()" value="amusement_park leisure"><strong>  Parque de atracciones</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="bowling_alleyFilter" type="checkbox" onclick="evaluateFilters()" value="bowling_alley leisure"><strong>  Bolera</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="casinoFilter" type="checkbox" onclick="evaluateFilters()" value="casino leisure"><strong>  Casino</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="movie_theaterFilter" type="checkbox" onclick="evaluateFilters()" value="movie_theater leisure"><strong>  Cine</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="spaFilter" type="checkbox" onclick="evaluateFilters()" value="spa leisure"><strong>  Spa / Centros de belleza</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="stadiumFilter" type="checkbox" onclick="evaluateFilters()" value="stadium leisure"><strong>  Estadio</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="zooFilter" type="checkbox" onclick="evaluateFilters()" value="zoo leisure"><strong>  Zoo</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#culture_categories" style="color:white;font-size:15px;"><!--<input class="filter-checkbox" id="cultureFilter" type="checkbox" onclick="evaluateFilters()" value="culture">--><strong>Cultura</strong></a><BR>
          <div id="culture_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="art-galleryFilter" type="checkbox" onclick="evaluateFilters()" value="art_gallery culture"><strong>  Galería de arte</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="libraryFilter" type="checkbox" onclick="evaluateFilters()" value="library culture"><strong>  Biblioteca</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="museumFilter" type="checkbox" onclick="evaluateFilters()" value="museum culture"><strong>  Museo</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="religious_emplacementsFilter" type="checkbox" onclick="evaluateFilters()" value="religious_emplacements culture"><strong>  Templos religiosos</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="public_emplacementsFilter" type="checkbox" onclick="evaluateFilters()" value="public_emplacements culture"><strong>  Espacios públicos</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#services_categories" style="color:white;font-size:15px;"><!--<input class="filter-checkbox" id="servicesFilter" type="checkbox" onclick="evaluateFilters()" value="services">--><strong>Servicios</strong></a><BR>
          <div id="services_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="campgroundFilter" type="checkbox" onclick="evaluateFilters()" value="campground services"><strong>  Camping</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="car-rentalFilter" type="checkbox" onclick="evaluateFilters()" value="car_rental services"><strong>  Alquiler de coches</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="atmFilter" type="checkbox" onclick="evaluateFilters()" value="atm services"><strong>  Cajero</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="parkingFilter" type="checkbox" onclick="evaluateFilters()" value="parking services"><strong>  Parking</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="gas-stationFilter" type="checkbox" onclick="evaluateFilters()" value="gas_station services"><strong>  Gasolinera</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="policeFilter" type="checkbox" onclick="evaluateFilters()" value="police services"><strong>  Policía</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#shopping_categories" style="color:white;font-size:15px;"><!--<input class="filter-checkbox" id="shoppingFilter" type="checkbox" onclick="evaluateFilters()" value="shopping">--><strong>Tiendas</strong></a><BR>
          <div id="shopping_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="book_storeFilter" type="checkbox" onclick="evaluateFilters()" value="book_store shopping"><strong>  Librería</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="clothing_storeFilter" type="checkbox" onclick="evaluateFilters()" value="clothing_store shopping"><strong>  Tiendas de ropa</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="convenience_storeFilter" type="checkbox" onclick="evaluateFilters()" value="convenience_store shopping"><strong>  Supermercados/Hipermercados</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="hardware_storeFilter" type="checkbox" onclick="evaluateFilters()" value="hardware_store shopping"><strong>  Tienda de electrónica</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="shopping_mallFilter" type="checkbox" onclick="evaluateFilters()" value="shopping_mall shopping"><strong>  Centro comercial</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="other_storesFilter" type="checkbox" onclick="evaluateFilters()" value="other_stores shopping"><strong>  Otras tiendas</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#medical_services_categories" style="color:white;font-size:15px;"><!--<input class="filter-checkbox" id="medicalFilter" type="checkbox" onclick="evaluateFilters()" value="medical_services">--><strong>Servicios sanitarios</strong></a><BR>
          <div id="medical_services_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="hospitalFilter" type="checkbox" onclick="evaluateFilters()" value="hospital medical_services"><strong>  Hospital/Centro médico</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="pharmacyFilter" type="checkbox" onclick="evaluateFilters()" value="pharmacy medical_services"><strong>  Farmacia</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#bar_and_clubs_categories" style="color:white;font-size:15px;"><!--<input class="filter-checkbox" id="barFilter" type="checkbox" onclick="evaluateFilters()" value="bar_and_clubs">--><strong>Bares y clubs</strong></a><BR>
          <div id="bar_and_clubs_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="barFilter" type="checkbox" onclick="evaluateFilters()" value="bar bar_and_clubs"><strong>  Bar</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="night_clubFilter" type="checkbox" onclick="evaluateFilters()" value="night_club bar_and_clubs"><strong>  Clubs</strong></a><BR>
          </div>
          <a href="#" data-toggle="collapse" data-target="#transport_categories" style="color:white;font-size:15px;"><!--<input class="filter-checkbox" id="transportFilter" type="checkbox" onclick="evaluateFilters()" value="transport">--><strong>Transporte</strong></a><BR>
          <div id="transport_categories" class="collapse" style="margin-left:15px;">
            <a href="#"><input class="filter-checkbox" id="airportFilter" type="checkbox" onclick="evaluateFilters()" value="airport transport"><strong>  Aeropuerto</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="bus_stationFilter" type="checkbox" onclick="evaluateFilters()" value="bus_station transport"><strong>  Estación / Parada de bus</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="train_stationFilter" type="checkbox" onclick="evaluateFilters()" value="train_station transport"><strong>  Estación / Parada de tren</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="subway_stationFilter" type="checkbox" onclick="evaluateFilters()" value="subway_station transport"><strong>  Estación / Parada de metro</strong></a><BR>
            <a href="#"><input class="filter-checkbox" id="taxi_standFilter" type="checkbox" onclick="evaluateFilters()" value="taxi_stand transport"><strong>  Parada de taxis</strong></a><BR>
          </div>
        </div>     
      </div>
      <button id="filter-button" class="btn btn-primary btn-lg btn-block mt-3" style="margin:auto;width:20%;">Buscar</button>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
      <a href="{% url 'venues:index'%}" class="navbar-brand d-flex align-items-center"><i class="fa d-inline fa-home mr-2"></i><strong>Inicio</strong></a>
      <a href="#" data-toggle="collapse" data-target="#navbarHeader" class="navbar-brand d-flex align-items-center"><i class="fa d-inline fa-filter mr-2"></i><strong>Búsqueda Avanzada</strong> </a>
      <a href="javascript:void(0)" class="navbar-brand d-flex align-items-center" onclick="openNav()"><i class="fa d-inline fa-list-ul mr-2"></i><strong>Lista POI</strong> </a>
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"> <span class="navbar-toggler-icon"></span> </button>-->
      {% if request.user.is_authenticated %}
      <!--<ul class="navbar-nav" style="list-style-type:none;">
        <li class="nav-item" style="list-style:none;">-->
          <a class="navlink"><i class="fas fa-user-circle"></i><strong> Hola, {{ request.user.username }}</strong></a> <a class="nav-link" id="logout-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><strong> Cerrar sesión</strong></a>
        <!--</li>
        <li class="nav-item" style="list-style:none;">
          <a class="nav-link" id="logout-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
        </li> -->
      {% else %} 
        <li class="nav-item" style="list-style:none;">
          <a class="nav-link" id="login-link" href="{% url 'venues:login' %}"><i class="fas fa-sign-in-alt"></i><strong> Iniciar sesión</strong></a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>

  <div id="mySidenav" class="sidenav" style="background-color:#555555;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p style="color:white;text-align:center;"><strong>Ordernar resultados por:</strong></p>
      <select class="custom-select d-block w-50" id="sorting-criteria" style="margin:auto;" required="">
          <option value="rating">Puntuación</option>
          <option value="distance">Más cercano</option>
      </select>
    <BR>
    <div class="row">
        <div class="col-md-12">
          <div class="list-group" id="venue-list">
          </div>
        </div>
    </div>
  </div>


  <div id="adv-options-sidenav" class="adv-options-sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeOptionsNav()">&times;</a>
        <p style="color:white;text-align:justify;margin-left:10px;margin-right:20px;color:white;"><strong>Escoge un método de transporte y el criterio de ordenación de la ruta.</strong></p> 
        <BR>
        <p style="color:white;text-align:justify;margin-left:10px;margin-right:20px;"><strong>La ordenación manual te llevará a los lugares seleccionados en el orden en el que los hayas escogido, mientras que la ordenación automática intentará optimizar la ruta de manera que recorras la menor distancia posible.</strong></p>
        <ul class="list-unstyled">
          <li>
            <p style="color:white;margin:auto;margin-left:40px;">Medio de transporte:</p>
            <BR>
            <select class="custom-select d-block w-50" id="transport" style="margin:auto;" required="">
              <option value="DRIVING">Coche</option>
              <option value="WALKING">A pie</option>
              <option value="BICYCLING">Bicicleta</option>
              <option value="transit-bus">Transporte público (bus)</option>
              <option value="transit-subway">Transporte público (metro)</option>
            </select>
          </li>
          <li>
            <BR>
            <p style="color:white;margin:auto;margin-left:40px;">Método de ordenación:</p>
            <BR>
            <select class="custom-select d-block w-50" id="route-sorting" style="margin:auto;" required="">
              <option value="automatic-sorting">Ordenación automática</option> 
              <option value="manual-sorting">Ordenación manual</option> 
            </select>
          </li>  
        </ul> 
        <button id="confirm-route-button" onclick="startRoute()" class="btn btn-primary btn-lg btn-block mt-3" style="margin:auto;width:40%;"><strong>Confirmar</strong></button>
      </div>

  <div id="directions-panel">
          <!-- <button id="next-segment" onclick="displaySegmentOptimized(false)">Siguiente destino</button> -->
          <button id="update" onclick="updateCurrentSegment()">Recargar ruta</button>
          <button id="prev" onclick="previousSegment()">Destino previo</button>
          <button id="next" onclick="nextSegment()">Destino siguiente</button>
          <button id="exit" onclick="resetMap()">Salir</button>
  </div>

  <div id="map"></div>

  <pingendo id="routeButton" style="cursor:pointer;position: fixed;bottom: 30px;right:100px;padding:4px"><button id="calcRoute-button" onclick="openOptionsNav()" class="btn btn-primary btn-lg btn-block mt-3" style="background-color:white;"><strong>Calcular Ruta</strong></button><!--<select class="custom-select d-block w-100" id="sorting-criteria" required="">
              <option value="rating">Mayor puntuación</option>
              <option value="distance">Más cercano</option>
            </select>--></pingendo>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{% static 'venues/jquery-3.3.1.min.js' %}" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
MAX_STARS = 5;
var currentlyDisplayedCategories = []

var onRoute = false;
var nextDestination = {};
var map;
var markers = [];
var route = [];
var segments = [];
var segmentIndex = 0;
var currentSegment = {'from':"", 'to':""};
var optimizeRoute = true;

var venues_json = '{{ venues }}';
var user_location = '{{ user_location }}';
var initial_category = '{{ initial_category }}'

var j_loc = JSON.parse(user_location.replace(/&#39;/g,'"'));
var user_position = {lat: j_loc["lat"], lng: j_loc["long"]};
var j = JSON.parse(venues_json.replace(/&#39;/g,'"').replace(/&quot;/g, ''));

var map;

function resetMap() {
    //closeNav();
    //document.getElementById("map").style.marginRight = "400px";
    //document.getElementById("directions-panel").style.display="block";
    document.getElementById("directions-panel").style.width="0px";
    showMarkers();
    //hideMarkers();
    //markers = [];
    nextDestination = {};
    //instruction_panel=document.getElementById("directions-panel");
    //instruction_panel.style.display="none";
    //Reset directionsDisplay
    directionsDisplay.setMap(null);
    onRoute = false;
    segmentIndex = 0;
    segments = [];
    //directionsDisplay = null;
    //directionsDisplay = new google.maps.DirectionsRenderer;
    //directionsDisplay.setMap(map);
}



function initMap() {
        distanceMatrixService = new google.maps.DistanceMatrixService(); 
  directionsService = new google.maps.DirectionsService;
  directionsDisplay = new google.maps.DirectionsRenderer;

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: j_loc["lat"], lng: j_loc["long"]},
    zoom: 15
  });

  var user_icon = { 
    url: 'https://static.thenounproject.com/png/67172-200.png',
    scaledSize: new google.maps.Size(50, 50)
  };  

  var user_marker = new google.maps.Marker({
    position: new google.maps.LatLng(j_loc["lat"], j_loc["long"]),
    map: map,
    title: 'Usted está aquí',
    icon: user_icon
  });

  placeMarkers(j);
      }

function openOptionsNav() {
  if (Object.keys(route).length>0){
    closeNav();
    document.getElementById("adv-options-sidenav").style.width = "400px";
    document.getElementById("main").style.marginLeft = "400px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  } else {alert("Selecciona por lo menos un punto de interés para ver la ruta");}

}

function closeOptionsNav() {
  document.getElementById("adv-options-sidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}

function updateCurrentSegment(){
    calculateAndDisplayRoute(currentSegment["from"], currentSegment["to"]);
}

function generateSegments(sorting_criteria){

    var start = user_position;
    start['name'] = "user_positon";
    var next = {};
    var segment = {};
    if (sorting_criteria=="automatic-sorting"){
        while (Object.keys(route).length>0){
            next = getClosest(start)
            segment = {'from':start, 'to':next}
            segments.push(segment)
            start = next;
        }
    } else {
        while (Object.keys(route).length>0){
            next = getNext()
            segment = {'from':start, 'to':next}
            segments.push(segment)
            start = next;
        }
    }
    return segments;

}

function getNext(){

    next = {};
    e = Object.keys(route)[0];
    next['lat'] = route[e]['lat'];
    next['lng'] = route[e]['lng'];
    delete route[e];
    document.getElementById("check_"+e).checked = false;
    return next;

}

function getClosest(start){
    var refDistance = 9999.0
    next = {};
    for (venue in route){
        distance = getDistanceFromLatLonInKm(start['lat'],start['lng'],route[venue]['lat'],route[venue]['lng']);
        if (distance<refDistance){
            refDistance = distance;
            next['name'] = venue;
            next['lat'] = route[venue]['lat'];
            next['lng'] = route[venue]['lng'];
        }
    }
    delete route[next['name']];
    document.getElementById("check_"+next['name']).checked = false;
    return next;
}

function nextSegment(){

    if (segmentIndex + 1 < segments.length){
        displaySegment(++segmentIndex);
    } else {
        alert("Ha llegado a su destino")
        //resetMap();
    }

}

function previousSegment(){

    if (segmentIndex - 1 >= 0){
        displaySegment(--segmentIndex);
    }

}

function displaySegment(index){

    if (segments[index]){
        var from = new google.maps.LatLng(segments[index]['from']['lat'],segments[index]['from']['lng']);
        var to = new google.maps.LatLng(segments[index]['to']['lat'],segments[index]['to']['lng']);
        currentSegment["from"]=from;
        currentSegment["to"]=to;
        calculateAndDisplayRoute(from, to);
        onRoute = true;  
    }

}

function startRoute(){

    var names = [];

    if (Object.keys(route).length>0){
        hideMarkersOutsideOfRoute();
        //for (venue in route){names.push(venue);}
        //placeMarkers(j,names);
        //openNav(); 
        closeOptionsNav();
        routeSorting = document.getElementById("route-sorting").value;
        segments = [];
        generateSegments();
        segmentIndex = 0;
        document.getElementById("directions-panel").style.width="400px";
        displaySegment(segmentIndex);
    } else {alert("Selecciona por lo menos un punto de interés para ver la ruta");}

}

function calculateAndDisplayRoute(from, to) {

    //Display options
    //directionsDisplay.setOptions( { suppressMarkers: true } );
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById('directions-panel'));

    var transport;
    transport = document.getElementById("transport").value;

    if (transport == "transit-bus"){
        console.log("transit-bus: "+transport);
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: 'TRANSIT',
            transitOptions: {
                modes: ['BUS'],
                routingPreference: 'FEWER_TRANSFERS' //La hora del siguiente bus depende de departureTime, así que si queremos que la hora de salida del bus tenga cierto margen por si la parada está más o menos lejos, poner un departureTime + X tiempo.
            },
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    } else if (transport == "transit-subway"){
        console.log("transit-subway: "+transport);
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: 'TRANSIT',
            transitOptions: {
                modes: ['SUBWAY'],
                routingPreference: 'FEWER_TRANSFERS'
            },
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    } else if (transport == "DRIVING"){
        console.log("transit-driving: "+transport);
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: 'DRIVING',
            drivingOptions: {
                departureTime: new Date(Date.now()),  //new Date(Date.now() + N) siendo N el nº de milisegundos desde ahora
                trafficModel: 'bestguess'
            },
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    } else {
        console.log("transit-walking-bicylcing: "+transport);
        directionsService.route({
            origin: from,
            destination: to,
            travelMode: transport,
            unitSystem: google.maps.UnitSystem.METRIC
        }, routeCallback);
    }
}

function routeCallback(response, status) {
    if (status === 'OK') {
        console.log(response);
        //hideMarkersOutsideOfRoute();
        /*instruction_panel=document.getElementById("directions-panel");
        instruction_panel.style.display="block";*/
        directionsDisplay.setMap(map);
        directionsDisplay.setDirections(response);
    } else {
        window.alert('Directions request failed due to ' + status);
    }
}


function evaluateFilters(){
    var checkboxes = document.getElementsByClassName("filter-checkbox");
    for (i=0; i<checkboxes.length; i++){
        if(checkboxes[i].checked == true && !currentlyDisplayedCategories.includes(checkboxes[i].value)){
            currentlyDisplayedCategories.push(checkboxes[i].value);
        }
        if (checkboxes[i].checked == false && currentlyDisplayedCategories.includes(checkboxes[i].value)){
            currentlyDisplayedCategories = currentlyDisplayedCategories.filter(e=>e!=checkboxes[i].value);
        }
    }
}

function filterResults(){
    
    if (currentlyDisplayedCategories.length > 0){
        document.getElementById("venue-list").innerText = "Cargando nuevos resultados...";
        $.ajax({
            url : "{% url 'venues:filter' %}"+"?category="+formatCategories(currentlyDisplayedCategories)+"&user_position="+user_position["lat"]+","+user_position["lng"],  
            method : "GET",
            //dataType: "json",
            success : function (data) {
                console.log(data)
                //var jqueryJson = $.parseJSON(data)
                document.getElementById("venue-list").innerText = "";
                var sorting_criteria = document.getElementById("sorting-criteria").value;
                j = data;
                fillList(data, sorting_criteria);
                hideMarkers();
                placeMarkers(data);
            },
            error : function (data){
                console.log(data.status);
                if (data.status == 404){
                    alert("No se han encontrado resultados para la/s categoría/s solicitadas")
                    document.getElementById("venue-list").innerText = "No se han encontrado resultados para la/s categoría/s solicitadas";
                } else {
                    alert("Ha habido un error, inténtalo más tarde.");
                    document.getElementById("venue-list").innerText = "Ha habido un error, inténtalo más tarde.";
                }
            }
        });
    } else {alert("Selecciona una categoría, por favor");}  
}

function placeMarkers(venue_list){
  var sorted = venue_list.sort(function(a, b) {return b.rating - a.rating}); //Ordena los lugares de mayor a menor valoración.
  sorted = removeDuplicatesByName(sorted);
  Object.keys(sorted).forEach(function(venue) {
      //Marker placement------------------------------------------
      contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h4 id="firstHeading" class="firstHeading">'+sorted[venue]['venue_name']+'</h4>'+
        '<div id="bodyContent">'+
        '<p><b>'+sorted[venue]['formatted_address']+'</b></p>'+
        //'<a href="https://www.google.es/#q='+sorted[venue]['venue_name']+'" target="_blank" style="font-size:15px;">Buscar con Google</a><BR>'+
        '</div>';

      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });


      var marker_icon = { 
        url: sorted[venue]['icon'],
        scaledSize: new google.maps.Size(25, 25)
      }; 

      var marker = new google.maps.Marker({
        position : new google.maps.LatLng(sorted[venue]["lat"], sorted[venue]["lng"]),
        map : map,
        //icon : marker_icon,
        //animation: google.maps.Animation.DROP,
        infoWindow: infowindow,
        title: sorted[venue]['venue_name']
      });

             
      google.maps.event.addListener(marker, 'click', function() {
        /*if (typeof open_marker !== 'undefined'){
          open_marker.infoWindow.close();
        }*/
        map.setCenter(this.position);
        this.infoWindow.open(map, this);
        //open_marker = this;
      });

      markers.push(marker);

  });
}

function fillList(venue_list, sorting_criteria){

    var sorted = {};
    if (sorting_criteria=="distance"){
        sorted = venue_list.sort(function(a, b) {return a.dist_from_user - b.dist_from_user}); //Ordena los lugares de mayor a menor valoración.
    } else {
        sorted = venue_list.sort(function(a, b) {return b.rating - a.rating}); //Ordena los lugares de mayor a menor valoración.
    }
    //sorted = removeDuplicatesByName(sorted);
    var venue_list = document.getElementById("venue-list");
    Object.keys(sorted).forEach(function(venue) {

        var a = document.createElement("a");
        a.id = "mainElement_"+sorted[venue]['venue_name'];
        //a.href = "#";
        a.className = "list-group-item list-group-item-action flex-column align-items-start";

        var div = document.createElement("div");
        div.className = "d-flex w-100 justify-content-between";

        var icon = document.createElement("i");
        icon.className = getClassName(sorted[venue]['category']);

        var h5 = document.createElement("h5");
        h5.className = "mb-1";
        h5.innerText = sorted[venue]['venue_name']+"  ";
        h5.appendChild(icon);

        var small_dist = document.createElement("small");
        small_dist.id = "distance-"+sorted[venue]['venue_name'];
        small_dist.innerText = "A "+sorted[venue]['dist_from_user'].toFixed(2)+" km\n";
        
        div.appendChild(h5);
        div.appendChild(small_dist);

        var p = document.createElement("p");
        //p.className = "mb-1";

        for (i=0; i<sorted[venue]['rating']; i++){
            s = document.createElement("span");
            s.className = "fa fa-star checked";
            p.appendChild(s);
            //star_rating += '<span class="fa fa-star checked"></span>'
        }
        for (i=0; i<MAX_STARS-sorted[venue]['rating']; i++){
            s = document.createElement("span");
            s.className = "fa fa-star";
            p.appendChild(s);
            //star_rating += '<span class="fa fa-star"></span>'
        }
        var icon = document.createElement("img");
        icon.src = sorted[venue]["icon"];
        icon.style.height = "10%";

        var small_addToRoute = document.createElement("small");
        var checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.className = "route_checkbox";
        checkbox.id = "check_"+sorted[venue]['venue_name'];
        //checkbox.onclick = "addToRoute("+sorted[venue]['venue_name']+","+sorted[venue]["lat"]+","+sorted[venue]["lng"]+")";
        //checkbox.addEventListener('click', addToRoute(sorted[venue]['venue_name'],sorted[venue]['lat'],sorted[venue]["lng"]));

        small_addToRoute.innerText = "Añadir a ruta ";
        small_addToRoute.append(checkbox);


        var small = document.createElement("small");
        var p_category = document.createElement("p");
        p_category.innerText = "Categoría/s: "+getCategorySpanish(sorted[venue]['category']);
        small.appendChild(p_category);
        var a_map = document.createElement("a");
        //a_map.href = "javascript:openInfoWindow("+sorted[venue]['venue_name']+")";
        a_map.href = "javascript:void(0)";
        a_map.innerText = "Ver en mapa\n";
        a_map.style = "color:black;"
        var a_detail = document.createElement("a");
        a_detail.href = sorted[venue]['reference']+"/";
        a_detail.innerText = "Más detalles\n";
        a_detail.style = "color:black;font-size:17px;"
        small.appendChild(a_detail);
        small.appendChild(a_map);
        small.appendChild(document.createElement("BR"));
        var a_show_on_map = document.createElement("a");
        /*a_show_on_map.href = "#!";
        a_show_on_map.id = "display_"+sorted[venue]['venue_name'];
        a_show_on_map.innerText = "Ver en mapa\n";
        small.appendChild(a_show_on_map);*/
        
        a.appendChild(div);
        a.appendChild(p);
        a.appendChild(small);
        a.appendChild(small_addToRoute)
        venue_list.appendChild(a);
        a_map.addEventListener('click', function(){openInfoWindow(sorted[venue]['venue_name']);});
        checkbox.addEventListener('click', function(){addToRoute(sorted[venue]['venue_name'],sorted[venue]['lat'],sorted[venue]["lng"]);});
        /*a_show_on_map.addEventListener('click', function(){
                                placeMarker(sorted[venue]['venue_name'],sorted[venue]['formatted_address'],sorted[venue]['lat'],sorted[venue]["lng"]);
                                document.getElementById("directions-panel").style.display="none";
                                document.getElementById("map").style.marginRight = "0px";
                                openNav();
                             });*/
    });
}

function openInfoWindow(name){
    console.log(name);
    for (m in markers){
      if (markers[m].title == name){
        google.maps.event.trigger(markers[m], "click");
        break;
      }
    }
}

function openNav() {
  document.getElementById("mySidenav").style.width = "400px";
  document.getElementById("main").style.marginLeft = "400px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

$(document).ready(function(){
    var sc = document.getElementById("sorting-criteria");
    sc.addEventListener('change', function (){
        document.getElementById("venue-list").innerText = "";
        fillList(j, document.getElementById("sorting-criteria").value);
    });
    fillList(j, sc.value);
    document.getElementById('filter-button').addEventListener('click', filterResults);
    var checkboxes = document.getElementsByClassName("filter-checkbox");
    catList = initial_category.split(",");
    for (i=0; i<checkboxes.length; i++){
        //if(catList.includes(checkboxes[i].value)){
        if(checkboxes[i].value.split(" ").some(r=> catList.indexOf(r) >= 0)){
            checkboxes[i].checked = true;
            currentlyDisplayedCategories.push(checkboxes[i].value);
        }
    } 
});
</script>
<script src="{% static 'venues/common.js' %}" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEDOKsldYBl9NQ6Ml9uYVGOW2vosygeSs&callback=initMap"
    async defer></script>
