{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'venues/mapview.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'venues/slidestyle.css' %}">

<html>
  <head>
    <title>Tourism App - Show Results</title>
    
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <!-- Panel flotante para criterios de filtrado -->
    <!-- <div id="floating-sorting-panel">
    <b>Start: </b>
    <select id="criteria">
      <option value="---">---</option>
      <option value="rating">Puntuación</option>
      <option value="closest">Más cerca</option>
    </select>
    </div> -->

<div id="filter-control">

    <div id="floating-filtering-panel" class="filter-panel">
    <b>Categoría: </b>
    <select id="category">
      <option value="food">Comida</option>
      <option value="leisure">Ocio</option>
      <option value="culture">Cultura</option>
      <option value="services">Servicios</option>
      <option value="shopping">Tiendas</option>
      <option value="medical_services">Servicios sanitarios</option>
      <option value="bar_and_clubs">Bares y clubs</option>
      <option value="transport">Transporte</option>
      <option value="other">Otros</option>
    </select>
    </div>
    <div class="input-field col s12">
    <div class="center">
       <button id="filter-button" class="waves-effect waves-light btn">Buscar</button>
   </div>
   </div>

</div>

<div id="travel-mode-control" class="input-field col s12">
    <select id="transport" required>
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
      </select>
    <label>Método de transporte</label>
</div>


    <div id="sidenav" class="sidenav">
      
    </div>



    <div id="map"></div>
    <script>
      var venues_json = '{{ venues }}';
      var user_location = '{{ user_location }}';
      var travel_mode = '{{ travel_mode }}';
      var j_loc = JSON.parse(user_location.replace(/&#39;/g,'"'));
      var user_position = {lat: j_loc["lat"], lng: j_loc["long"]};
      var j = JSON.parse(venues_json.replace(/&#39;/g,'"'));
      // new (pd) : venues_json.replace(/&#39;/g,'"').replace(/&quot;/g, "'").replace(/&lt;/g, "<").replace(/&gt;/g, ">")
      // old (json) : venues_json.replace(/&#39;/g,'"')
      var markers = [];
      var route = [];
      var map;
      var open_marker;

      function removeDuplicatesByName(jsonArray){
          var seenNames = {};
          jsonArray = jsonArray.filter(function(currentObject) {
              if (currentObject.name in seenNames) {
                  return false;
              } else {
                  seenNames[currentObject.name] = true;
                  return true;
              }
          });
          return jsonArray;
      }

      function deleteMarkers(){
          for(i=0; i<markers.length; i++){
              markers[i].setMap(null);
          }
          markers = []
          document.getElementById("sidenav").innerHTML = "";
      }

      function openPanel(){
            var panel = document.getElementsByClassName('js-cd-panel-main');
            console.log(panel);
            console.log("addClass");
            addClass(panel, 'cd-panel--is-visible');
            console.log("add close panel event listener");
            panel.addEventListener('click', function(event){
		if( hasClass(event.target, 'js-cd-close') || hasClass(event.target, panelClass)) {
			event.preventDefault();
			removeClass(panel, 'cd-panel--is-visible');
		}
	    });
            
        }


      //Como a raíz del problema con el filtro de distancia la puntuación sería el único criterio, eliminamos el filtrado por puntuación
      //y hacemos que esa sea la ordenación por defecto. Se mantiene este código en caso de que posteriormente se añadan otras posibilidades de filtrado.

      /*function sortResults(){
          criteria = document.getElementById('criteria').value
          side_bar_html = ""
          if (criteria == "rating") {
              var sorted = j.sort(function(a, b) {return b.rating - a.rating})
              Object.keys(sorted).forEach(function(venue) {
                  venue_coordinates = sorted[venue]['geometry']['location']
                  side_bar_html += '<a href="javascript:myclick(' + (markers.length) + ')">'
                  + sorted[venue]['name'] + " | " 
                  + (sorted[venue]['opening_hours']  !== 0 ?  sorted[venue]['opening_hours'] + " | " : "" )
                  + (sorted[venue]['rating']  !== 0 ?  sorted[venue]['rating'] + " | " : "" )
                  + '<input type="checkbox" id="check_'+sorted[venue]['name']+'" onclick="addToRoute('+"'"+sorted[venue]['name']+"'"+','+venue_coordinates["lat"] +','+venue_coordinates["lng"]+')"></a>'
                  + " | ";
              });
              document.getElementById("sidenav").innerHTML = side_bar_html;
          } else if (criteria == "closest"){
              
          } 
      }*/


      function filterResults(){
          var category = document.getElementById('category').value;
          if (category){
              $.ajax({
                 url : "{% url 'venues:filter' %}"+"?category="+category,  //"http://localhost:8005/venues/filter-results/"
                 method : "GET",
                 //dataType: "json",
                 success : function (data) {
                          console.log("It worked");
                          console.log(data['results']);
                          deleteMarkers();
                          placeMarkers(data['results']);
                 },
                 error : function (data){
                          alert("Ha habido un error, inténtalo más tarde.")
                 }
              });
          } else {alert("Selecciona una categoría, por favor");}  
      }

      //Esta función se usaría para obtener la distancia entre la posición del usuario y cada uno de los resultados
      //en el momento de cargar la página, a fin de luego aplicar un filtrado por distancia. Por desgracia, el plan
      //gratuito del API de Google me limita a un máximo de 25 orígenes/destinos, lo que hace imposible la presencia
      //de este criterio de filtrado en la aplicación.

      function getDistanceFromUserPosition(){
          destinations = []
              Object.keys(j).forEach(function(venue) {
                  venue_coordinates = j[venue]['geometry']['location']
                  destinations.push(new google.maps.LatLng(venue_coordinates["lat"], venue_coordinates["lng"]));
              });
              distanceMatrixService.getDistanceMatrix({
                  origins: [user_position],
                  destinations: destinations,
                  travelMode: travel_mode,
                  unitSystem: google.maps.UnitSystem.METRIC,
              }, distanceMatrixSortCallback);
      }

      function distanceMatrixSortCallback(response, status){
          if (status == 'OK') {
              var origins = response.originAddresses;
              var destinations = response.destinationAddresses;
              var max_distance = 0;
              var waypoints = [];
              var currentFarthestPoint;


              var results = response.rows[0].elements;
              for (var j = 0; j < results.length; j++) {
                  var element = results[j];
                  var distance = element.distance.text.replace(",",".");
                  var duration = element.duration.text;
                  var from = origins[0];
                  var to = destinations[j];
                  console.log(from+" - "+to+" = "+distance);
              }
          }      
      }

      function hideMarkersOutsideOfRoute(){
          for (e in markers){
              if (!Object.keys(route).includes(markers[e].getTitle())){
                  markers[e].setVisible(false);
              }
          }
      }

      function calculateRouteControl(controlDiv, map) {
        //Borde
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '50%';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlDiv.appendChild(controlUI);

        //Interior
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '16px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = 'Calcular ruta';
        controlUI.appendChild(controlText);

        //Evento
        controlUI.addEventListener('click', function() {
          
          var destinations = [];
          for (venue in route){
              destinations.push(route[venue]);
	  }
          //var service = new google.maps.DistanceMatrixService();
          distanceMatrixService.getDistanceMatrix(
          {
              origins: [user_position],
              destinations: destinations,
              travelMode: document.getElemetById('transport').value,
              unitSystem: google.maps.UnitSystem.METRIC,
              }, distanceMatrixCallback);
          });

      }

      function distanceMatrixCallback(response, status){
          if (status == 'OK') {
              var origins = response.originAddresses;
              var destinations = response.destinationAddresses;
              var max_distance = 0;
              var waypoints = [];
              var currentFarthestPoint;


              var results = response.rows[0].elements;
                  for (var j = 0; j < results.length; j++) {
                      var element = results[j];
                      var distance = element.distance.text.replace(",",".");
                      var duration = element.duration.text;
                      var from = origins[0];
                      var to = destinations[j];
                      
                      if (parseFloat(distance.split(" ")[0])>max_distance){
                          if (typeof(currentFarthestPoint)=="undefined"){
                              currentFarthestPoint = {address: to, dist: distance};
                              max_distance = parseFloat(distance.split(" ")[0]);
                          } else {
                              waypoints.push({
                                  location: currentFarthestPoint["address"],
                                  stopover: true
                              });
                              currentFarthestPoint = {address: to, dist: distance};
                              max_distance = parseFloat(distance.split(" ")[0]);
                          }
                      } else {
                           waypoints.push({
                               location: to,
                               stopover: true
                           });
                      }
                      //console.log(to+" - "+distance);
                  }
              }

              directionsService.route({
                  origin: user_position,
                  destination: currentFarthestPoint["address"],
                  waypoints: waypoints,
                  optimizeWaypoints: true,
                  travelMode: travel_mode
              }, function(response, status) {
                  if (status === 'OK') {
                      hideMarkersOutsideOfRoute();
                      directionsDisplay.setDirections(response);
                  } else {
                      window.alert('Directions request failed due to ' + status);
                  }
              });
          
      }

      function calculateAndDisplayRoute(destination_lat, destination_long) {

        //Oculta el resto de marcadores y cierra la ventana del seleccionado antes de mostrar la ruta
        for (e in markers) {
          if (markers[e].getTitle() !== open_marker.getTitle()){
            markers[e].setVisible(false);
          } else {
            markers[e].infoWindow.close()
          }
        }

        directionsService.route({
          origin: user_position,
          destination: {lat: destination_lat, lng: destination_long},
          travelMode: travel_mode,
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

      function addToRoute(name, lat, lng) {
        var checkBox = document.getElementById("check_"+name);
        if (checkBox.checked == true){
          console.log("true");
          route[name] = new google.maps.LatLng(lat, lng) //{"lat":lat, "lng":lng};
        } else {
          console.log("false");
          delete route[name];
        }
      }

      //Función para el evento click en los elementos del panel lateral. Si hay otra ventana abierta la cierra antes de mostrar la seleccionada.
      function myclick(i) {
	if (typeof open_marker !== 'undefined'){
            open_marker.infoWindow.close();
        }
        google.maps.event.trigger(markers[i], "click");
        open_marker = markers[i];
      }

      function placeMarkers(venue_list){
          var side_bar_html = "";
          var sorted = venue_list.sort(function(a, b) {return b.rating - a.rating}); //Ordena los lugares de mayor a menor valoración.
          sorted = removeDuplicatesByName(sorted);
          Object.keys(sorted).forEach(function(venue) {

              venue_name = sorted[venue]['name']
              venue_coordinates = sorted[venue]['geometry']['location']
    
              contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading">'+venue_name+'</h1>'+
                '<div id="bodyContent">'+
                '<p><b>'+venue_name+'</b></p>'+
                '<p>Attribution: '+venue_name+', <a href="https://www.google.es/#q='+venue_name+'">'+
                'Más información</a><BR>'+
                '<button onclick="calculateAndDisplayRoute('+ venue_coordinates["lat"] +','+ venue_coordinates["lng"] +')">Ir!</button>'+
                '</p>'+
                '</div>';

               var infowindow = new google.maps.InfoWindow({
                 content: contentString
               });

               var marker = new google.maps.Marker({
                 position : new google.maps.LatLng(venue_coordinates["lat"], venue_coordinates["lng"]),
                 map : map,
                 infoWindow: infowindow,
                 title: venue_name
               });

             
               google.maps.event.addListener(marker, 'click', function() {
                 if (typeof open_marker !== 'undefined'){
                   open_marker.infoWindow.close();
                 }
                 map.setCenter(this.position);
                 this.infoWindow.open(map, this);
                 open_marker = this;
               });
               
           
	       //Se añade el evento click a los elementos del panel lateral
               //href="javascript:myclick(' + (markers.length) + ')"
               
               side_bar_html += '<a href="javascript:myclick(' + (markers.length) + ')">'
               + venue_name + " | " 
               + (sorted[venue]['rating']  !== 0 ?  sorted[venue]['rating'] + " | " : "" )
               + '<input type="checkbox" id="check_'+venue_name+'" onclick="addToRoute('+"'"+venue_name+"'"+','+venue_coordinates["lat"]+','+venue_coordinates["lng"]+')"></a>'
               + " | "
               console.log("Se añade: "+venue_name);
               //Aquí iría el enlace para las vistas detalle con href

               markers.push(marker);
             });
             console.log("Se añade el contenido del menu lateral")
             document.getElementById("sidenav").innerHTML = side_bar_html;

      }


      function initMap() {
        distanceMatrixService = new google.maps.DistanceMatrixService(); //Si al final sólo el cálculo de rutas precisa de este servicio, mover la declaración del mismo a dentro de la función, ya que en ese caso tiene poco sentido que sea global.
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: j_loc["lat"], lng: j_loc["long"]},
          zoom: 15
        });

        var onChangeHandler = function() {
          //DO SOMETHING
        };

        

        directionsDisplay.setMap(map);
        var routeControlDiv = document.createElement('div');
        var routeControl = new calculateRouteControl(routeControlDiv, map);
        routeControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(routeControlDiv);

        //Las siguientes líneas hacen referencia al panel de filtrado. Descomentar en caso de recuperar dicho elemento.
        //var sortControlDiv = document.getElementById('floating-sorting-panel');
        //document.getElementById('floating-sorting-panel').addEventListener('change', onChangeHandler);
        //map.controls[google.maps.ControlPosition.TOP_CENTER].push(sortControlDiv);

        var filterControlDiv = document.getElementById('filter-control');
        document.getElementById('filter-button').addEventListener('click', filterResults);
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(filterControlDiv);

        var travelModeControlDiv = document.getElementById('travel-mode-control');
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(travelModeControlDiv);
             
        
        
        //Esto hace que Google Directions no coloque marcadores por defecto en los punto de inicio y origen de la ruta (para eso ya tenemos los nuestros)
        directionsDisplay.setOptions( { suppressMarkers: true } );

      /*Object.keys(j).forEach(function(key) {
         console.log(key +': '+ j[key]["lat"]+","+j[key]["long"]);
      });*/
      //var url = https://cdn0.iconfinder.com/data/icons/maps-locations-5/24/map_location_user_location-512.png

  
        //Marcador+icono para mostrar la ubicación del usuario     
        var icon = { 
           url: 'https://static.thenounproject.com/png/67172-200.png',
           scaledSize: new google.maps.Size(50, 50)
        };

        var user_marker = new google.maps.Marker({
           position: new google.maps.LatLng(j_loc["lat"], j_loc["long"]),
           map: map,
           title: 'Usted está aquí',
           icon: icon
        });
           
        
	//Se preparan y colocan los marcadores
        console.log("SE VA A LLAMAR A LA FUNCION DE CALCULO DE DISTANCIA");
        //getDistanceFromUserPosition(); Problema: limitación impuesta por el plan gratuito del API de Google. Ver declaración de la función.
        placeMarkers(j);
        



      }
    </script>
    <script src="{% static 'venues/jquery-3.3.1.min.js' %}" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEDOKsldYBl9NQ6Ml9uYVGOW2vosygeSs&callback=initMap"
    async defer></script>  
  </body>
</html>
