{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'venues/mapview.css' %}">

<html>
  <head>
    <title>Tourism App - Show Results</title>
    
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div id="sidenav" class="sidenav">
      
    </div>


    <div id="map"></div>
    <script>
      var venues_json = '{{ venues_json }}';
      var user_location = '{{ user_location }}';
      var j_loc = JSON.parse(user_location.replace(/&#39;/g,'"'));
      var j = JSON.parse(venues_json.replace(/&#39;/g,'"'));
      var markers = [];
      var marker;
      var map;
      var open_marker;

      function myclick(i) {
	if (typeof open_marker !== 'undefined'){
            open_marker.infoWindow.close();
        }
        google.maps.event.trigger(markers[i], "click");
        open_marker = markers[i];
      }

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: j_loc["lat"], lng: j_loc["long"]},
          zoom: 15
        });

      /*Object.keys(j).forEach(function(key) {
         console.log(key +': '+ j[key]["lat"]+","+j[key]["long"]);
      });*/
      //var url = https://cdn0.iconfinder.com/data/icons/maps-locations-5/24/map_location_user_location-512.png

       
        var icon = { 
           url: 'https://static.thenounproject.com/png/67172-200.png',
           scaledSize: new google.maps.Size(50, 50)
        };

        var user_marker = new google.maps.Marker({
           position: new google.maps.LatLng(j_loc["lat"], j_loc["long"]),
           map: map,
           title: 'Usted está aquí',
           icon: icon
        });
           

        var side_bar_html = "";
        Object.keys(j).forEach(function(key) {

          venue_name = key
    
          contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+key+'</h1>'+
            '<div id="bodyContent">'+
            '<p><b>'+key+'</b></p>'+
            '<p>Attribution: '+key+', <a href="https://www.google.es/#q='+key+'">'+
            'Más información</a> '+
            '</p>';

           var infowindow = new google.maps.InfoWindow({
             content: contentString
           });

           marker = new google.maps.Marker({
             position : new google.maps.LatLng(j[key]["lat"], j[key]["long"]),
             map : map,
             infoWindow: infowindow,
             title: key
           });

           google.maps.event.addListener(marker, 'click', function() {
             this.infoWindow.open(map, this);
           });

           side_bar_html += '<a href="javascript:myclick(' + (markers.length) + ')">' + key + '</a>';

           markers.push(marker);
        });

        document.getElementById("sidenav").innerHTML = side_bar_html;


      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5k4YFA5vGzVTaR0EvHRLEAVdhN0GV__s&callback=initMap"
    async defer></script>
  </body>
</html>
