{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'venues/mapview.css' %}">

<html>
  <head>
    <title>Tourism App - Show Results</title>
    
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <!-- Panel flotante para criterios de filtrado -->
    <!-- <div id="floating-sorting-panel">
    <b>Start: </b>
    <select id="criteria">
      <option value="---">---</option>
      <option value="rating">Puntuación</option>
      <option value="closest">Más cerca</option>
    </select>
    </div> -->

<div id="filter-control-experimental" class="filter-dropdown">
    <button onclick="showFilters()" class="dropbtn">Filtrar</button>
    <div id="filterDropdown" class="filter-dropdown-content">
        <a href="#"><input class="filter-checkbox" id="foodFilter" type="checkbox" onclick="evaluateFilters()" value="food">Comida</a>
        <a href="#"><input class="filter-checkbox" id="leisureFilter" type="checkbox" onclick="evaluateFilters()" value="leisure">Ocio</a>
        <a href="#"><input class="filter-checkbox" id="cultureFilter" type="checkbox" onclick="evaluateFilters()" value="culture">Cultura</a>
        <a href="#"><input class="filter-checkbox" id="servicesFilter" type="checkbox" onclick="evaluateFilters()" value="services">Servicios</a>
        <a href="#"><input class="filter-checkbox" id="shoppingFilter" type="checkbox" onclick="evaluateFilters()" value="shopping">Tiendas</a>
        <a href="#"><input class="filter-checkbox" id="medicalFilter" type="checkbox" onclick="evaluateFilters()" value="medical_services">Servicios sanitarios</a>
        <a href="#"><input class="filter-checkbox" id="barFilter" type="checkbox" onclick="evaluateFilters()" value="bar_and_clubs">Bares y clubs</a>
        <a href="#"><input class="filter-checkbox" id="transportFilter" type="checkbox" onclick="evaluateFilters()" value="transport">Transporte</a>
        <a href="#"><input class="filter-checkbox" id="otherFilter" type="checkbox" onclick="evaluateFilters()" value="other">Otros</a>
    </div>
    <div class="input-field col s12">
    <div class="center">
       <button id="filter-button" class="waves-effect waves-light btn">Buscar</button>
   </div>
   </div>
</div>

<div id="travel-mode-control" class="input-field col s12">
    <select id="transport" required>
          <option value="DRIVING">Coche</option>
          <option value="WALKING">A pie</option>
          <option value="BICYCLING">Bicicleta</option>
          <option value="transit-bus">Transporte público (bus)</option>
          <option value="transit-subway">Transporte público (metro)</option>
      </select>
    <label></label>
</div>

<div id="route-sorting-control">
    <select id="route-sorting">
        <option value="automatic-sorting">Ordenación automática</option> 
        <option value="manual-sorting">Ordenación manual</option> 
    </select>
</div>

    <!-- Panel de indicaciones de ruta -->
    <div id="right-panel">

    <button id="next-segment" onclick="displaySegmentOptimized(false)">Siguiente destino</button>
    <button id="update" onclick="updateCurrentSegment()">Recargar ruta</button>
    <button id="page-reload" onclick="pageReload()">Volver a marcadores</button>
    </div>

    <!-- Menú lateral de navegación -->
    <div id="sidenav" class="sidenav"></div>



    <div id="map"></div>
    <script>
      var venues_json = '{{ venues }}';
      var user_location = '{{ user_location }}';
      var initial_category = '{{ initial_category }}'
      //category
      var j_loc = JSON.parse(user_location.replace(/&#39;/g,'"'));
      var user_position = {lat: j_loc["lat"], lng: j_loc["long"]};
      var j = JSON.parse(venues_json.replace(/&#39;/g,'"').replace(/&quot;/g, ''));
      var markers = [];
      var route = [];
      var stops = [];
      var currentlyDisplayedCategories = []
      var stopsIndex = 0;
      var currentSegment = {'from':"", 'to':""};
      var map;
      var open_marker;
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;
      var currentPosition = undefined;
      var optimizeRoute = true;


      function evaluateFilters(){
          var checkboxes = document.getElementsByClassName("filter-checkbox");
          for (i=0; i<checkboxes.length; i++){
              if(checkboxes[i].checked == true && !currentlyDisplayedCategories.includes(checkboxes[i].value)){
                  currentlyDisplayedCategories.push(checkboxes[i].value);
              }
              if (checkboxes[i].checked == false && currentlyDisplayedCategories.includes(checkboxes[i].value)){
                  currentlyDisplayedCategories = currentlyDisplayedCategories.filter(e=>e!=checkboxes[i].value);
              }
          }
      }

      function formatCategories(category_list){
          var finalString = "";
          for (category in category_list){
              finalString += category_list[category]+"|";
          }
          return finalString.substring(0, finalString.length - 1);
      }
      
      function filterResults(){
          //var category = document.getElementById('category').value;
          console.log("Se van a solicitar las categorías: "+formatCategories(currentlyDisplayedCategories));
          if (currentlyDisplayedCategories.length > 0){
              $.ajax({
                  url : "{% url 'venues:filter' %}"+"?category="+formatCategories(currentlyDisplayedCategories),  //"http://localhost:8005/venues/filter-results/"
                  method : "GET",
                  //dataType: "json",
                  success : function (data) {
                      console.log(data)
                      //var jqueryJson = $.parseJSON(data)
                      deleteMarkers();
                      placeMarkers(data);
                  },
                      error : function (data){
                      console.log(data);
                      alert("Ha habido un error, inténtalo más tarde.");
                  }
              });
          } else {alert("Selecciona una categoría, por favor");}  
      } 


      function initMap() {
        distanceMatrixService = new google.maps.DistanceMatrixService(); 
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: j_loc["lat"], lng: j_loc["long"]},
          zoom: 15
        });

        
        directionsDisplay.setMap(map);

        //Las siguientes líneas hacen referencia al panel de filtrado. Descomentar en caso de recuperar dicho elemento.
        //var sortControlDiv = document.getElementById('floating-sorting-panel');
        //document.getElementById('floating-sorting-panel').addEventListener('change', onChangeHandler);
        //map.controls[google.maps.ControlPosition.TOP_CENTER].push(sortControlDiv);

        var routeControlDiv = document.createElement('div');
        var routeControl = new calculateRouteControl(routeControlDiv, map);
        routeControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(routeControlDiv);

        //Control de filtrado viejo que no permite visualizar más de una categoría a la vez
        /*var filterControlDiv = document.getElementById('filter-control');
        document.getElementById('filter-button').addEventListener('click', filterResults);
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(filterControlDiv);*/

        var filterControlDiv = document.getElementById('filter-control-experimental');
        document.getElementById('filter-button').addEventListener('click', filterResults);
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(filterControlDiv);

        var travelModeControlDiv = document.getElementById('travel-mode-control');
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(travelModeControlDiv);

        var routeSortingControlDiv = document.getElementById('route-sorting-control');
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(routeSortingControlDiv);

                     
        
        //Esto hace que Google Directions no coloque marcadores por defecto en los punto de inicio y origen de la ruta (para eso ya tenemos los nuestros)
        

      /*Object.keys(j).forEach(function(key) {
         console.log(key +': '+ j[key]["lat"]+","+j[key]["long"]);
      });*/
      //var url = https://cdn0.iconfinder.com/data/icons/maps-locations-5/24/map_location_user_location-512.png

  
        //Marcador+icono para mostrar la ubicación del usuario  

        var checkboxes = document.getElementsByClassName("filter-checkbox");
        for (i=0; i<checkboxes.length; i++){
            if(checkboxes[i].value == initial_category){
                checkboxes[i].checked = true;
                currentlyDisplayedCategories.push(checkboxes[i].value);
                break;
            }
        } 

        var user_icon = { 
           url: 'https://static.thenounproject.com/png/67172-200.png',
           scaledSize: new google.maps.Size(50, 50)
        };  

        var user_marker = new google.maps.Marker({
           position: new google.maps.LatLng(j_loc["lat"], j_loc["long"]),
           map: map,
           title: 'Usted está aquí',
           icon: user_icon
        });
           
        
        placeMarkers(j);
        



      }
    </script>
    <script src="{% static 'venues/jquery-3.3.1.min.js' %}" async defer></script>
    <script src="{% static 'venues/javascript_functions.js' %}" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEDOKsldYBl9NQ6Ml9uYVGOW2vosygeSs&callback=initMap"
    async defer></script>  
  </body>
</html>
