#directions-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  /*padding-left: 10px;*/
}
/*
#directions-panel select, #directions-panel input {
  font-size: 15px;
}

#directions-panel select {
  width: 100%;
}
*/
#directions-panel i {
  font-size: 12px;
}

#directions-panel {
  background-color: #b4b4b4;
  height: 100%;
  float: right;
  width: 0px;
  overflow: auto;
}
/*
@media print {
  #map {
    height: 500px;
    margin: 0;
  }
  #directions-panel {
    float: none;
    width: auto;
  }
}*/
