 
 #right-panel {
     font-family: 'Roboto','sans-serif';
     line-height: 30px;
     padding-left: 10px;
 }

 #right-panel select, #right-panel input {
     font-size: 15px;
 }

 #right-panel select {
     width: 100%;
 }

 #right-panel i {
     font-size: 12px;
 }

 
 #right-panel {
     height: 100%;
     float: right;
     width: 390px;
     overflow: auto;
 }

 #map {
     margin-right: 400px;
 }

 @media print {
     #map {
         height: 500px;
         margin: 0;
     }
     #right-panel {
         float: none;
         width: auto;
     }
 }

 .checked {
  color: orange;
 }

 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-bottom: 20px;
 }

 .sidenav-content {
    padding: 0;
    list-style-type: none;
 }
 
 .sidenav p{
    color: #818181;
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
 }

 .sidenav a{
    font: 200 15px/1.5 Georgia, Times New Roman, serif;
    color: #818181;
    display: block;
 }

 .sidenav li {
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
    overflow: auto;
    border-bottom: 1px solid rgba(255,255,255,.5);
 }

 .sidenav li:hover{
    margin: 0;
    background: #eee;
    cursor: pointer;
 }

/*
 .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
 }

 .sidenav a:hover {
    color: #f1f1f1;
 }*/

/* Style page content */
 /*.main {
    margin-left: 160px; 
    padding: 0px 10px;
 }*/


 #floating-sorting-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

 /* Dropdown Button */
      .dropbtn {
          background-color: #D3D3D3;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
      }

/* Dropdown button on hover & focus */
      .dropbtn:hover, .dropbtn:focus {
          background-color: #2980B9;
      }

/* The container <div> - needed to position the dropdown content */
      .filter-dropdown {
          position: relative;
          display: inline-block;
      }

/* Dropdown Content (Hidden by Default) */
      .filter-dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
      }

 /* Links inside the dropdown */
      .filter-dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }

/* Change color of dropdown links on hover */
      .filter-dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
      .show {display:block;}
